
<br><br><br><br>
<div class="container">
  <div ng-controller="ContactUsController as main">
  <div ng-include="'angular/views/partials/search-form.html'"></div>
	<div class="row">
    <!--<div class="col-md-12" ng-if="!main.userLogged">-->

<div class="col-md-9">
  <img src="././assets/images/1920/familia.jpg" width="100%">
  <br>

  <div class="white-row">

    <h3 class="page-header nomargin-top">
     <strong class="styleColor">Plan Familiar Medico</strong>
     <img src="././assets/images/gratis.png" align="right" style="width: 17%;">
    </h3>


 <h4 class="section-text">Valores agregados para nuestros afiliados</h4>
 <div class="linea">

 </div>

 <center><h4 style="background-color:#00b9f1; color:white; height:85px; padding-top:5px;">  * Descuentos en servicios médicos, odontológicos, clínicos y de laboratorio</h4>
</center>

 <div class="row">
   <div class="col-md-4">
 <ul class="rss">
   <br>
 <li>Medicina General</li>
   <li>Especialistas</li>
   <li>Medicina del dolor</li>
   <li>Laboratorio clínico</li>
   <li>Exámenes Especializados</li>
   <li>Fisioterapia</li>
   <br>
 </ul> 
  </div>
  <div class="col-md-4">
  <ul class="rss">
   <li>Terapia del lenguaje</li>
   <li>Optometría</li>
   <li>Oftalmología</li>
   <li>Diseño de sonrisa</li>
   <li>Ortodoncia</li>
   <li>Cirugías Estéticas</li>
 </ul>
  </div>
  <div class="col-md-4">

    <center><img src="././assets/images/medico.jpg" width="60%"></center>
</div>
</div>

<div class="row">
<div class="col-md-6" style="padding-top: 50px;">
 <center><h4 style="background-color:#00b9f1; color:white; height:90px; ">   * Descuentos en atención y diagnostico veterinario</h4>    </center>
</div>
<div class="col-md-6">
 <center><img src="././assets/images/veterinario.PNG" style="padding:20px; width:300px"></center>
</div>
</div>

       <div class="row">
         <div class="col-md-4">
   <center>
   <h4 class="section-text">Prevenir Juridico</h4>
    <div class="linea"></div> 
   <img src="././assets/images/juridico.jpg" width="60%" height="200px"></center>
         </div>
       <div class="col-md-4">
      <center> <h4 class="section-text">Prevenir Contable</h4>
    <div class="linea"></div>

<img src="././assets/images/moneda.jpg" width="60%" height="200px"> </center>
         </div>
         <div class="col-md-4">
  <center><h4 class="section-text">Psicológico</h4>
    <div class="linea"></div> 
<img src="././assets/images/psicologo.jpg" width="60%" height="200px" > </center>
         </div>
       </div>
<br>


<div class="row">
  <div class="col-md-12">


   <h4 class="section-text">Programas de bienestar</h4>
    <div class="linea">

    </div>
     <center>  <img src="././assets/images/mujer.jpg" align="right" style="width:300px;"></center>
    <ul class="rss">
      <li>Jóvenes saludables</li>
      <li>Mujer libre de cáncer de cuello uterino</li>
      <li>Mujer libre de cáncer de mama</li>
      <li>Programas de salud visual</li>
      <li>Programas de salud oral</li>
    </ul>
      </div>
      
      </div>
    
<br>
  
  <div style="background-color:#ec1c24; color: white; font-size:15px;height: 30px; padding-top: 0px;">
            <center>*Aplican Condiciones y Restricciones</center>
          </div>
</div>



</div>



<div class="col-md-3" ng-if="!main.userLogged">
  <div class="row">
  <div class="white-row">
  <a href="#/usuario/iniciar"><center><img  src="././assets/images/nuevas/Inscribete@2x.png" style=" height:350px;" max-width="100%"; min-width="100%";></center></a>
</div>
  </div>
  <div class="row">
    <div class="white-row">
      <h3 class="page-header">
        <i class="fa fa-twitter"></i>
        <strong class="styleColor">Últimos Tweets</strong>
      </h3>
      <center><a class="twitter-timeline" data-width="500" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
    </div>
    <div class="white-row">
      <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
    </div>
  </div>
</div>


    <div class="col-md-3" ng-if="main.userLogged">
      <h3 class="page-header nomargin-top margin-bottom40">
         <strong class="styleColor">Más Populares</strong>
      </h3>
      <div class="row">
        <div ng-repeat="val in vm.mostPopulars">
          <!-- No #1 Hot -->
          <div class="item-box nomargin-top" ng-show="$index < 2">
            <figure>
              <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-plus fsize20"></span>
                  <strong>Ver más</strong>
                </span>
              </a>
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande}}" />
            </figure>
            <div class="item-box-desc">
              <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
              <small class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
              <small class="font300 text-center block" ng-if="val.PorcentajePromo)=0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
            </div>
          </div>
          <!-- /No #1 Hot -->

          <div class="col-xs-6 col-md-6" ng-show="$index >= 2">
            <a href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
              <h6 class="fsize12 font300 padding6 styleSecondColor">{{ val.Nombre }}</h6>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="white-row">
      <h3 class="page-header">
        <i class="fa fa-twitter"></i>
         <strong class="styleColor">Últimos Tweets</strong>
         <center><a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
      </h3>
      </div>
      <div class="white-row">
      <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
    </div>
  </div>
    </div>
	</div>
  <div ng-include="'easy-store/views/partials/suscribe.html'"></div>
  <div ng-include="'easy-store/views/partials/reasons.html'"></div>
</div>
</div>
