  <br><br><br><br>
  <div class="container">
    <div ng-include="'angular/views/partials/search-form.html'"></div>
    <div class="row">
      <div class="col-md-9">
        <img src="././assets/images/1920/individual.png" width="100%">
        <br>
        <div class="white-row">
            <h3 class="page-header nomargin-top">

            <strong class="styleColor">Plan Individual Estrella</strong>

          </h3>
          <div class="row">
            <div class="col-md-12">
            <b>  <h4 class="section-text">Servicios funerarios</h4></b>

              <div class="col-md-6">
             
              <div class="linea">

              </div>
              <p class="section-text">
                <ul class="rss">
                  <li>Trámites legales y notariales.</li>
                  <li>Traslado del cuerpo dentro del municipio.</li>
                  <li>Preparación y conservación del cuerpo.</li>
                  <li>Cofre fúnebre (2 referencias).</li>
                  <li>Sala de velación por 24 horas.</li>
                  <li>Serie de carteles, Arreglo floral</li>
                  <li>Suministro de libro recordatorio de firmas de asistentes.</li>
                  <li>Rosario y guía para oración.</li>
                  
                  <li>Cinta impresa con el nombre de la persona fallecida.</li>
                  <li>Traslado del cuerpo al sitio de velación y ceremonia en carroza fúnebre.</li>
                  <li>Servicio de cafetería personalizado.</li>
                  <li>Ceremonia Religiosa (cualquier credo).</li>
                  <li>Vehículo privado para transporte de acompañantes Para cabecera municipal 25 pasajeros.</li>
                </ul>
                <center>  <img src="././assets/images/individual.png" style="padding-top:50px;"></center>
            <!--pago en linea-->
            <div>
              <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
                <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_grande.png"
                      onClick="this.form.urlOrigen.value = window.location.href;" style="margin: 0 auto; display: block"/>
                <input name="buttonId" type="hidden" value="How4SgeDxvqiL7Vf0aDdGWCJLt28PDG0zqE7br9Y4mmrZkxerN2nzQ=="/>
                <input name="merchantId" type="hidden" value="649195"/>
                <input name="accountId" type="hidden" value="651670"/>
                <input name="description" type="hidden" value="Plan Individual 19900"/>
                <input name="referenceCode" type="hidden" value="plan1individual"/>
                <input name="amount" type="hidden" value="19900"/>
                <input name="tax" type="hidden" value="0"/>
                <input name="taxReturnBase" type="hidden" value="0"/>
                <input name="shipmentValue" value="0" type="hidden"/>
                <input name="currency" type="hidden" value="COP"/>
                <input name="lng" type="hidden" value="es"/>
                <input name="approvedResponseUrl" type="hidden" value="http://www.prevenirexpress.com"/>
                <input name="declinedResponseUrl" type="hidden" value="http://www.prevenirexpress.com"/>
                <input name="pendingResponseUrl" type="hidden" value="http://www.prevenirexpress.com"/>
                <input name="displayShippingInformation" type="hidden" value="YES"/>
                <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
                <input name="buttonType" value="SIMPLE" type="hidden"/>
                <input name="signature" value="5af551e6925c81b5da08e5044903b1c21a8b8a190585e324dc2e9d6945b72da3" type="hidden"/>
            </form>
          </div>
            <!-- pago en linea-->
              </div>
              <div class="col-md-6"> 
              <img src="././assets/images/cofre.jpg" width="100%">
          <br>
          <br>
               <b>    <h4 class="section-text">Servicios Finales o Cementerio</h4></b>
                <div class="linea">

                </div>
                <ul class="rss">
                  <li>Bóveda o lote en uso temporal y Osario</li>
                  <li>Cremación y cofre cenízario.</li>
                  <li>*Traslado aéreo y/o terrestre para el cuerpo de la persona fallecida.</li>
                  <li>Cementerios Distritales, Municipales o parque cementerio</li>
                  <li>*Carencias 72 horas para muerte accidental, 60 días para muerte natural y 180 días para enfermedades pre existentes </li>
                  <li>Cubrimiento del 100% de los servicios funerarios y cementerios.</li>
                  <li>Cubrimiento a nivel nacional.</li>
                  <li>Carné informativo entregado en el momento de la vinculación con las líneas emergencia funeraria.</li>
                </ul>
              
              </div>
              </div>
              <div class="col-md-6">
               
            

              </div>
            </div>
            <br>
            <!--<div style="background-color:#00adef; font-size:1.9vw; color: white; height: 150px; padding-top: 20px;">
            <center>Plan individual para menores de 69 años carencia de 90 días. 180 días para enfermedades pre-existentes.<br><br>
            *Periodos de carencia: Tiempo en el cual las coberturas aún no están activas</center>
          </div>-->

           <div style="background-color:#ec1c24; color: white; font-size:15px;height: 30px; padding-top: 0px;">
            <center>*Aplican Condiciones y Restricciones</center>
          </div>

          </div>
        </div>
          <div ng-controller="ContactUsController as main">
            <div class="col-md-3" ng-if="!main.userLogged">
              <div class="row">
              <div class="white-row">
              <a href="#/usuario/iniciar"><center><img  src="././assets/images/nuevas/Inscribete@2x.png" style=" height:350px;" max-width="100%"; min-width="100%";></center></a>
            </div>
              </div>
              <div class="row">
                <div class="white-row">
                  <h3 class="page-header">
                    <i class="fa fa-twitter"></i>
                    <strong class="styleColor">Últimos Tweets</strong>
                  </h3>
                  <center><a class="twitter-timeline" data-width="500" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
                </div>
                <div class="white-row">
                  <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
                </div>
              </div>
            </div>
        <div class="col-md-3" ng-if="main.userLogged">
          <h3 class="page-header nomargin-top margin-bottom40">
             <strong class="styleColor">Más Populares</strong>
          </h3>
          <div class="row">
            <div ng-repeat="val in vm.mostPopulars">
              <!-- No #1 Hot -->
              <div class="item-box nomargin-top" ng-show="$index < 2">
                <figure>
                  <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-plus fsize20"></span>
                      <strong>Ver más</strong>
                    </span>
                  </a>
                  <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande}}" />
                </figure>
                <div class="item-box-desc">
                  <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
                  <small class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
                  <small class="font300 text-center block" ng-if="val.PorcentajePromo)=0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
                </div>
              </div>
              <!-- /No #1 Hot -->

              <div class="col-xs-6 col-md-6" ng-show="$index >= 2">
                <a href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                  <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
                  <h6 class="fsize12 font300 padding6 styleSecondColor">{{ val.Nombre }}</h6>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="white-row">
          <h3 class="page-header">
            <i class="fa fa-twitter"></i>
             <strong class="styleColor">Últimos Tweets</strong>
          </h3>
          <center><a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
    </div>
    <div class="white-row">
          <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
        </div>
      </div>
        </div>
    </div>

  </div>
    <div ng-include="'easy-store/views/partials/suscribe.html'"></div>
    <div ng-include="'easy-store/views/partials/reasons.html'"></div>
  </div>
