
<br><br><br><br>
<div class="container">
  <div ng-include="'angular/views/partials/search-form.html'"></div>
  <div class="row">
    <div class="col-md-9">
      <img src="././assets/images/1920/excelencia.png" width="100%">
      <br>
      <div class="white-row">

        <h3 class="page-header nomargin-top">
          <strong class="styleColor">Plan Patriarca</strong>


        </h3>
        <div class="row">
          <div class="col-md-6">
              <h4 class="section-text">Servicios funerarios</h4>
            <div class="linea">
            </div>
            <ul class="rss">
              <li>Trámites legales y notariales.</li>
              <li>Traslado del cuerpo dentro del municipio.</li>
              <li>Preparación y conservación del cuerpo.</li>
              <li>Cofre fúnebre (2 referencias).</li>
              <li>Sala de velación por 24 horas.</li>
              <li>Serie de carteles, Arreglo floral. </li>
              <li>Suministro de libro recordatorio de firmas de asistentes.</li>
              <li>Rosario y guía para oración.</li>
              <li>Cinta impresa con el nombre de la persona fallecida.</li>
              <li>Traslado del cuerpo al sitio de velación y ceremonia en carroza fúnebre.</li>
              <li>Servicio de cafetería personalizado.</li>
              <li>Ceremonia Religiosa (cualquier credo).</li>
              <li>Vehículo privado para transporte de acompañantes Para cabecera municipal 25 pasajeros.</li>
            </ul>
            <br>



          </div>
          <div class="col-md-6">


              <h4 class="section-text">Servicios Finales o Cementerio</h4>
            <div class="linea">

            </div>
            <ul class="rss">
             <li>Bóveda o lote en uso temporal y Osario.</li>
             <li>Cremación y cofre cenízario.</li>
             <li>Traslado aéreo y/o terrestre para el cuerpo de la persona fallecida.</li>
             <li>Cementerios Distritales, Municipales o parque cementerio </li>
            </ul>

            <h4 class="section-text">Cubrimientos </h4>
            <div class="linea">
            </div>
             <ul class="rss">
            <li>Cubrimiento del 100% de los servicios funerarios y cementerios.</li>
             <li>Cubrimiento a nivel nacional.</li>
             <li>Carné informativo entregado en el momento de la vinculación con las líneas emergencia funeraria.</li>
             </ul>
            

          </div>
        </div>
<br>

      <div style="background-color:#00adef; color: white; height: 228px; padding: 26px;">
          <center><h4 style="color: white" class="section-text">Opcion 1-Titular + 11 Beneficiarios (previamente inscritos)</h4><br>
      4 sin límite de edad: titular, padres, suegros y cónyuge.<br>
      Beneficiarios restantes menores de 65 años hasta tercer grado de consanguinidad y afinidad:<br>
      (hijos, hermanos, primos, nietos, tios, sobrinos, cuñados, nueras, yernos, padrastros, hijastros, hermanastros, ex-esposo(a)), “uno con máximo de edad de 74 años y 90 dias de carencia”.<br>
    * Todos los beneficiaros mayores a 65 años, 90 días de carencia.
  
</center>
  </div>

<br>
  <div style="background-color:#00adef; color: white; height: 100px; padding: 26px;">
          <center> $ 1.980.000 =
Plan sin fecha de caducidad después de cancelado y transferible a criterio del comprador 
Si el comprador quiere hacer uso del servicio antes de cancelar al 100% del valor solo pagaría el saldo pendiente en el momento de activar el servicio.
        </center>
  </div>
  
<br>
      <div class="row" style="border: 17px solid #fcdf86;margin: 2px;">
        <div class="col-md-6">
    <center> <img src="././assets/images/audifonos.png" style="padding-top: 90px;"></center>
      </div>
        <div class="col-md-6">
          <br>
          <center><h4 class="section-text">Valores Agregados</h4></center>
          <div class="linea">

          </div>
          <br>
      <ul class="rss">
        <li><h6>CUBRIMIENTO ESPECIAL PARA LA FAMILIA:</h6> Al fallecer el afiliado titular, la familia continúa protegida gratuitamente por tres meses más</li>
        <br>
        <li><h6>GARANTIA POR DESEMPLEO: GRUPO PREVENIR EXPPRESS</h6> asumirá gratis hasta dos (2) mensualidades mientras la persona encuentra un nuevo empleo</li>
        <br>
        <li><h6>PLAN FIDELIDAD:</h6> Si el titular no trabaja en la empresa se mantienen las condiciones, el valor y los beneficiarios en un plan individual pago al dia ventanilla</li>
      </ul>
    </div>
  </div>
  <br>
    <div style="background-color:#ec1c24; color: white; font-size:15px;height: 30px; padding-top: 0px;">
            <center>*Aplican Condiciones y Restricciones</center>
          </div>
    </div>

  </div>
<div ng-controller="ContactUsController as main">
  <div class="col-md-3" ng-if="!main.userLogged">
    <div class="row">
    <div class="white-row">
    <a href="#/usuario/iniciar"><center><img  src="././assets/images/nuevas/Inscribete@2x.png" style=" height:350px;" max-width="100%"; min-width="100%";></center></a>
  </div>
    </div>
    <div class="row">
      <div class="white-row">
        <h3 class="page-header">
          <i class="fa fa-twitter"></i>
          <strong class="styleColor">Últimos Tweets</strong>
        </h3>
        <center><a class="twitter-timeline" data-width="500" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
      </div>
      <div class="white-row">
        <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3" ng-if="main.userLogged">
    <h3 class="page-header nomargin-top margin-bottom40">
      <strong class="styleColor">Más Populares</strong>
    </h3>
    <div class="row">
      <div ng-repeat="val in vm.mostPopulars">
        <!-- No #1 Hot -->
        <div class="item-box nomargin-top" ng-show="$index < 2">
          <figure>
            <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
              <span class="overlay color2"></span>
              <span class="inner">
                <span class="block fa fa-plus fsize20"></span>
                <strong>Ver más</strong>
              </span>
            </a>
            <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande}}" />
          </figure>
          <div class="item-box-desc">
            <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
            <small class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
            <small class="font300 text-center block" ng-if="val.PorcentajePromo)=0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
          </div>
        </div>
        <!-- /No #1 Hot -->

        <div class="col-xs-6 col-md-6" ng-show="$index >= 2">
          <a href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
            <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
            <h6 class="fsize12 font300 padding6 styleSecondColor">{{ val.Nombre }}</h6>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="white-row">
    <h3 class="page-header">
      <i class="fa fa-twitter"></i>
      <strong class="styleColor">Últimos Tweets</strong>
    </h3>
    <center><a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
  </div>
    <div class="white-row">
    <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
  </div>
</div>
  </div>
</div>
</div>
<div ng-include="'easy-store/views/partials/suscribe.html'"></div>
<div ng-include="'easy-store/views/partials/reasons.html'"></div>
</div>
