<br><br><br><br>
<div class="container">
  <div ng-include="'angular/views/partials/search-form.html'"></div>
  <div class="row">
    <div class="col-md-9">
      <img src="././assets/images/1920/catanddog.jpg" width="100%">
      <br>
      <div class="white-row">

        <h3 class="page-header nomargin-top">
          <strong class="styleColor">Plan Mascotas</strong>


        </h3>
        <div class="row">
          <div class="col-md-6">
              
            <ul class="rss">
              <li>Retiro de la mascota en el lugar del fallecimiento (dentro del perímetro urbano).</li>
              <li>Cremación y cofre para las cenizas.</li>
              <li>Vehículo para acompañantes máximo cuatro personas en caso de entierro. “Opcional”</li>
            <br>
              <li>Este servicio es para perros, gatos</li>
            </ul>
            <br>

            <h4 class="section-text">Tramites</h4>
         <div class="linea">

         </div>
         <ul class="rss">
           <li>Cementerio jardín de paz cielo animal Sana Sana o Cremación para la mascota.</li>
           <li>El plan mascotas es un adicional al plan que el cliente escoja “NO se puede contratar solo el plan mascotas”</li>
           <li>Carencia de 90 días.</li>
            <li>Manejo del Duelo</li>
            <li>Carnet para citas veterinarias grátis (Por 1 Año)</li>
            <li>Vacunación grátis (Por 1 Año)</li>
         </ul>

          </div>
          <div class="col-md-6">


             <img src="././assets/images/patita.jpg" width="100%">
             <br>
             <center><img src="././assets/images/huellitas.png" width="150px" style="-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);rotation: 90deg; filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1;"></center>

          </div>
          
        </div>
<br>
  <div style="background-color:#ec1c24; color: white; font-size:15px;height: 30px; padding-top: 0px;">
            <center>*Aplican Condiciones y Restricciones</center>
          </div>
    </div>
  </div>
<div ng-controller="ContactUsController as main">
  <div class="col-md-3" ng-if="!main.userLogged">
    <a href="#/usuario/iniciar"><center><img  src="././assets/images/nuevas/Inscribete@2x.png" style=" height:350px;" max-width="100%"; min-width="100%";></center></a>
    <h3 class="page-header">
      <i class="fa fa-twitter"></i>
      <strong class="styleColor">Últimos Tweets</strong>
    </h3>
    <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
  </div>
  <div class="col-md-3" ng-if="main.userLogged">
    <h3 class="page-header nomargin-top margin-bottom40">
      <strong class="styleColor">Más Populares</strong>
    </h3>
    <div class="row">
      <div ng-repeat="val in vm.mostPopulars">
        <!-- No #1 Hot -->
        <div class="item-box nomargin-top" ng-show="$index < 2">
          <figure>
            <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
              <span class="overlay color2"></span>
              <span class="inner">
                <span class="block fa fa-plus fsize20"></span>
                <strong>Ver más</strong>
              </span>
            </a>
            <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande}}" />
          </figure>
          <div class="item-box-desc">
            <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
            <small class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
            <small class="font300 text-center block" ng-if="val.PorcentajePromo)=0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
          </div>
        </div>
        <!-- /No #1 Hot -->

        <div class="col-xs-6 col-md-6" ng-show="$index >= 2">
          <a href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
            <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
            <h6 class="fsize12 font300 padding6 styleSecondColor">{{ val.Nombre }}</h6>
          </a>
        </div>
      </div>
    </div>
    <h3 class="page-header">
      <i class="fa fa-twitter"></i>
      <strong class="styleColor">Últimos Tweets</strong>
    </h3>
    <center><a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
    <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
  </div>
</div>
</div>
<div ng-include="'easy-store/views/partials/suscribe.html'"></div>
<div ng-include="'easy-store/views/partials/reasons.html'"></div>
</div>
