<br><br><br><br>
<div class="container">
  <div ng-include="'angular/views/partials/search-form.html'"></div>

  <div class="row">

    <div class="col-md-9">
      <img src="././assets/images/1920/duelo.jpg" width="100%">

      <div class="white-row">


      <h3 class="tituloP">Planes para nuestros clientes</h3>
       <div class="lineaP">

       </div>

      <p>Prevenir Express te brida los mejores planes que se acomodan a tus necesidades personales y familiares, te invitamos a conocer nuestros planes y quedarte con nosotros</p>

      <div class="row">

        <div class="col-md-3">
      <a href="#/plan1">   <img src="././assets/images/nuevas/planpersonal@2x.png" width="100%"></a>
          <button class="btn btn-primary fullwidth" onClick="parent.location='#/plan1'">
            <i class="fa fa-search"></i>&nbsp;ver mas
          </button>

        </div>
        <div class="col-md-3">
      <a href="#/plan2">   <img src="././assets/images/nuevas/familiar@2x.png" width="100%"></a>
          <button class="btn btn-primary fullwidth" onClick="parent.location='#/plan2'">
            <i class="fa fa-search"></i>&nbsp;ver mas
          </button>

        </div>
        <div class="col-md-3">
          <a href="#/plan3">   <img src="././assets/images/nuevas/prevenir@2x.png" width="100%"></a>
          <button class="btn btn-primary fullwidth" onClick="parent.location='#/plan3'">
            <i class="fa fa-search"></i>&nbsp;ver mas
          </button>

        </div>
        <div class="col-md-3">
          <a href="#/plan4">   <img src="././assets/images/nuevas/mascota@2x.png" width="100%"></a>
          <button class="btn btn-primary fullwidth" onClick="parent.location='#/plan4'">
            <i class="fa fa-search"></i>&nbsp;ver mas
          </button>

        </div>

      </div>

    </div>

      <div class="white-row">
      <div class="row">
          <div class="col-md-12">

            <h3 class="tituloP">Porque nos prefieren</h3>
             <div class="lineaP">

             </div>

              <table  style="text-align:center; background-color:white" class="table table-bordered">
                <thead>
               <tr>
                  <th style="text-align:center; color:#3f6fb1">Mas beneficios PREVENIR EXPRESS</th>
                  <th style="text-align:center; color:#3f6fb1">Servicios limitados OTRAS EMPRESAS</th>
               </tr>
             </thead>
               <tr>
                  <td>Mayor cobertura</td>
                  <td>Cobertura limitada </td>
               </tr>
               <tr>
                  <td>Servicio nacional sin límite de kilómetros en 2 localidades</td>
                  <td>De 100 a 300 km otros Nacionala </td>
               </tr>
               <tr>
                  <td>Servicio aéreo nacional</td>
                  <td>No informan </td>
               </tr>
               <tr>
                  <td>Cremación: Si hay servicio local y si la ley lo permite</td>
                  <td>Cremación: No aplica otros cobros adicionales </td>
               </tr>
               <tr>
                  <td>Asesoría jurídica contable psicológica</td>
                  <td>No aplica este servicio</td>
               </tr>
               <tr>
                  <td>Descuentos con médicos especialistas, odontólogos</td>
                  <td>No aplica este servicio otros cobros adicionales</td>
               </tr>
               <tr>
                  <td>Clínicas y laboratorios, programas de bienestar</td>
                  <td>No aplica</td>
               </tr>
               <tr>
                  <td>Arreglo centrales de riesgos: DATA-CREDITO y CIFIN</td>
                  <td>No aplica este servicio</td>
               </tr>
               <tr>
                  <td>Periodo de carencia de 3 a 6 meses</td>
                  <td>Periodo  de carencia de 6 a 9 meses</td>
               </tr>
               <tr>
                  <td>Asesorías en demandas y reclamación de seguros</td>
                  <td>No aplica</td>
               </tr>
            </table>
          </div>
        </div>
      </div>

        <div class="white-row">
      <div class="row">
        <div class="col-md-12">
            <img src="././assets/images/precio.gif" width="100%">
        </div>
      </div>
    </div>
</div>

    <div class="col-md-3" ng-if="main.userLogged">
      <h3 class="page-header nomargin-top margin-bottom40">
         <strong class="styleColor">Más Populares</strong>
      </h3>
      <div class="row">
        <div ng-repeat="val in vm.mostPopulars">
          <!-- No #1 Hot -->
          <div class="item-box nomargin-top" ng-show="$index < 2">
            <figure>
              <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-plus fsize20"></span>
                  <strong>Ver más</strong>
                </span>
              </a>
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande}}" />
            </figure>
            <div class="item-box-desc">
              <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
              <small class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
              <small class="font300 text-center block" ng-if="val.PorcentajePromo)=0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
            </div>
          </div>
          <!-- /No #1 Hot -->

          <div class="col-xs-6 col-md-6" ng-show="$index >= 2">
            <a href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
              <h6 class="fsize12 font300 padding6 styleSecondColor">{{ val.Nombre }}</h6>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="white-row">
      <h3 class="page-header">
        <i class="fa fa-twitter"></i>
         <strong class="styleColor">Últimos Tweets</strong>
      </h3>

      <center><a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
        </div>
<div class="white-row">
      <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
    </div>
      </div>
    </div>

    <div ng-controller="ContactUsController as main">
      <div class="col-md-3" ng-if="!main.userLogged">
        <div class="row">
        <div class="white-row">
        <a href="#/usuario/iniciar"><center><img  src="././assets/images/nuevas/Inscribete@2x.png" style="height:350px;"max-width="100%"; min-width="100%"></center></a>
      </div>
        </div>
        <div class="row">
          <div class="white-row">
            <h3 class="page-header">
              <i class="fa fa-twitter"></i>
              <strong class="styleColor">Últimos Tweets</strong>
            </h3>
            <center><a class="twitter-timeline" data-width="500" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
          </div>
          <div class="white-row">
            <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
          </div>
        </div>
      </div>
    <div class="col-md-3" ng-if="main.userLogged">
    <h3 class="page-header nomargin-top margin-bottom40">
       <strong class="styleColor">Más Populares</strong>
    </h3>
    <div class="row">
      <div ng-repeat="val in vm.mostPopulars">
        <!-- No #1 Hot -->
        <div class="item-box nomargin-top" ng-show="$index < 2">
          <figure>
            <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
              <span class="overlay color2"></span>
              <span class="inner">
                <span class="block fa fa-plus fsize20"></span>
                <strong>Ver más</strong>
              </span>
            </a>
            <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande}}" />
          </figure>
          <div class="item-box-desc">
            <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
            <small class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
            <small class="font300 text-center block" ng-if="val.PorcentajePromo)=0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
          </div>
        </div>
        <!-- /No #1 Hot -->

        <div class="col-xs-6 col-md-6" ng-show="$index >= 2">
          <a href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
            <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
            <h6 class="fsize12 font300 padding6 styleSecondColor">{{ val.Nombre }}</h6>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="white-row">
    <h3 class="page-header">
      <i class="fa fa-twitter"></i>
       <strong class="styleColor">Últimos Tweets</strong>
    </h3>
    <center><a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
    </div>
    <div class="white-row">
    <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
    </div>
    </div>
    </div>
    </div>

  </div>
  <div ng-include="'easy-store/views/partials/suscribe.html'"></div>
  <div ng-include="'easy-store/views/partials/reasons.html'"></div>
</div>
