<br><br><br><br>
<div class="container">
  <div ng-include="'angular/views/partials/search-form.html'"></div>
  <div class="row">
    <div class="col-md-9">
      <img src="././assets/images/1920/individual.png" width="100%">
      <br>
      <div class="white-row">
          <h3 class="page-header nomargin-top">

          <strong class="styleColor">Plan Individual</strong>



        </h3>
          <br>
          <div style="background-color:#00adef; color: white; height: 141px; padding-top: 38px;">
          <center>Tu compra fue exitosa!!! Pronto nos comunicaremos contigo.</center>
        </div>
        </div>
      </div>
        <div ng-controller="ContactUsController as main">
          <div class="col-md-3" ng-if="!main.userLogged">
            <div class="row">
            <div class="white-row">
            <a href="#/usuario/iniciar"><center><img  src="././assets/images/nuevas/Inscribete@2x.png" style=" height:350px;" max-width="100%"; min-width="100%";></center></a>
          </div>
            </div>
            <div class="row">
              <div class="white-row">
                <h3 class="page-header">
                  <i class="fa fa-twitter"></i>
                  <strong class="styleColor">Últimos Tweets</strong>
                </h3>
                <center><a class="twitter-timeline" data-width="500" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
              </div>
              <div class="white-row">
                <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
              </div>
            </div>
          </div>
      <div class="col-md-3" ng-if="main.userLogged">
        <h3 class="page-header nomargin-top margin-bottom40">
           <strong class="styleColor">Más Populares</strong>
        </h3>
        <div class="row">
          <div ng-repeat="val in vm.mostPopulars">
            <!-- No #1 Hot -->
            <div class="item-box nomargin-top" ng-show="$index < 2">
              <figure>
                <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                  <span class="overlay color2"></span>
                  <span class="inner">
                    <span class="block fa fa-plus fsize20"></span>
                    <strong>Ver más</strong>
                  </span>
                </a>
                <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande}}" />
              </figure>
              <div class="item-box-desc">
                <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
                <small class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
                <small class="font300 text-center block" ng-if="val.PorcentajePromo)=0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
              </div>
            </div>
            <!-- /No #1 Hot -->

            <div class="col-xs-6 col-md-6" ng-show="$index >= 2">
              <a href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
                <h6 class="fsize12 font300 padding6 styleSecondColor">{{ val.Nombre }}</h6>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="white-row">
        <h3 class="page-header">
          <i class="fa fa-twitter"></i>
           <strong class="styleColor">Últimos Tweets</strong>
        </h3>
        <center><a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
  </div>
  <div class="white-row">
        <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
      </div>
    </div>
      </div>
  </div>

</div>
  <div ng-include="'easy-store/views/partials/suscribe.html'"></div>
  <div ng-include="'easy-store/views/partials/reasons.html'"></div>
</div>
