<!DOCTYPE html>
<html lang="es" class="no-ie" ng-app="easy-store">
<head>
<!-- mobile settings -->
<meta name="viewport"               content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
<meta http-equiv="content-type"     content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="es" />

<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<!--<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">-->

<!-- lightbox configuration js -->
<link rel="stylesheet" href="assets/plugins/lightbox/css/lightbox.css" >

<!-- WEB FONTS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800"/>

<!-- CORE CSS -->
<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="assets/css/font-awesome.css"/>
<link rel="stylesheet" href="assets/plugins/owl-carousel/owl.carousel.css"/>
<link rel="stylesheet" href="assets/plugins/owl-carousel/owl.theme.css"/>
<link rel="stylesheet" href="assets/plugins/owl-carousel/owl.transitions.css"/>
<link rel="stylesheet" href="assets/plugins/magnific-popup/magnific-popup.css"/>
<link rel="stylesheet" href="assets/css/animate.css"/>
<link rel="stylesheet" href="assets/css/superslides.css"/>
<link rel="stylesheet" href="assets/js/ngDialog/css/ngDialog.min.css">
<link rel="stylesheet" href="assets/js/ngDialog/css/ngDialog-theme-plain.min.css">
<link rel="stylesheet" href="assets/js/angular-loading-bar/build/loading-bar.min.css">
<link rel="stylesheet" href="assets/css/login.css"/>
<link rel="stylesheet" href="assets/css/menu.css"/>
<link href="././assets/css/vinetas.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" media="(max-width: 800px)" href="assets/css/menu.css" />
<!-- REALESTATE -->
<link rel="stylesheet" href="assets/css/prevenirexpress.css"/>

<!-- THEME CSS -->
<link rel="stylesheet" href="assets/css/essentials.css"/>
<link rel="stylesheet" href="assets/css/layout.css"/>
<link rel="stylesheet" href="assets/css/layout-responsive.css"/>
<link rel="stylesheet" href="assets/css/color_scheme/darkblue.css"/><!-- orange: default style -->
<link rel="stylesheet" href="assets/js/angular-multiple-select/multiple-select.min.css"/>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>


<!-- Morenizr -->
<script type="text/javascript" src="assets/plugins/modernizr.min.js"></script>

<title>Grupo Prevenir Express</title>
</head>
<body>

  <script>$(document).ready(function() {

  var id = '#dialog';

  //Get the screen height and width
  var maskHeight = $(document).height();
  var maskWidth = $(window).width();

  //Set heigth and width to mask to fill up the whole screen
  $('#mask').css({'width':maskWidth,'height':maskHeight});

  //transition effect
  $('#mask').fadeIn(500);
  $('#mask').fadeTo("slow",0.9);

  //Get the window height and width
  var winH = $(window).height();
  var winW = $(window).width();

  //Set the popup window to center
  $(id).css('top',  winH/2-$(id).height()/2);
  $(id).css('left', winW/2-$(id).width()/2);

  //transition effect
  $(id).fadeIn(2000);

  //if close button is clicked
  $('.window .close').click(function (e) {
  //Cancel the link behavior
  e.preventDefault();

  $('#mask').hide();
  $('.window').hide();
  });

  //if mask is clicked
  $('#mask').click(function () {
  $(this).hide();
  $('.window').hide();
  });

});</script>

<header id="topHead" class="fixed">
 <div class="container"  ng-controller="ContactUsController as main">
      <a class='flotante' ng-if="main.userLogged==false" href='#/usuario/registro'><img style='width:200px' src='././assets/images/boton_regristro.png' id="#forward" border="0"/></a>
    </div>

  <div class="container" ng-controller="RegistroController as vm">

    <div id="registroExitoso" class="modal">
      <div class="modal-content">
        <span class="close" ng-click="vm.closeAlertRegistro()">&times;</span>
        <p>Bienvenido a Prevenir Express <br> El registro ha sido exitoso</p>
      </div>
    </div>
  </div>

  <div class="container"  ng-controller="ContactUsController as main">

    <!-- PHONE/EMAIL -->
    <span class="quick-contact pull-left"style="color: #00afef;font-size: 16px; margin-left: -38px;">
      <i class="fa fa-phone"></i> +57 3104351937 &#8226;
      <a class="hidden-xs" href="mailto:clientes@prevenirexpress.com">clientes@prevenirexpress.com</a>
    </span>
    <!-- /PHONE/EMAIL -->

    <!-- SIGN IN -->
    <div class="pull-right nav signin-dd" ng-if="!main.userLogged">

                    <a id="quick_sign_in" href="page-signin.html" data-toggle="dropdown" style="display:none">
                        <i class="fa fa-users"></i>
                        <span class="hidden-xs"> Iniciar SesiÃ³n</span>

                    </a>
                     <a href="#/usuario/iniciar" style="color: #00afef;">
                        <i class="fa fa-user"></i>
                        <span class="hidden-xs"> Ingreso</span>

                    </a>
                    <span style="color: #999; font-size: 20px;"> | </span>
                     <a href="#/usuario/registro" style="color: #00afef;">
                        <i class="fa fa-users"></i>
                        <span class="hidden-xs"> Registro</span>
                    </a>
                    <span style="color: #999; font-size: 20px;"> | </span>
                    <a href="#/publicar" style="color: #00afef;">
                       <i class="fa fa-file-text-o"></i>
                       <span class="hidden-xs"> Publicar</span>
                   </a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="quick_sign_in">
                        <h4>Iniciar SesiÃ³n</h4>
                        <form ng-submit="main.Login()" method="post" role="form">

                            <div class="form-group"><!-- email -->
                                <input required="" type="email" class="form-control" placeholder="Tu correo" ng-model="main.usuario.Correo">
                            </div>

                            <div class="input-group">

                                <!-- password -->
                                <input required type="password" class="form-control" placeholder="Tu contraseÃ±a" ng-model="main.usuario.Clave">

                                <!-- submit button -->
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Conectar</button>
                                </span>

                            </div>

                            <!-- remmember -->
                            <!-- <div class="checkbox">
                              <label>
                                <a href="page-signin.html">Â¿Olvidaste tu contraseÃ±a?</a>
                              </label>
                            </div> -->

                        </form>

                        <hr/>

                        <button
                            class="btn-facebook fullwidth radius3"
                            ng-click="main.FBLogin()">
                            <i class="fa fa-facebook"></i> Conectate con Facebook
                        </button>
                        <!-- <a href="#" class="btn-twitter fullwidth radius3"><i class="fa fa-twitter"></i> Connect With Twitter</a> -->
                        <!--<a href="#" class="btn-google-plus fullwidth radius3"><i class="fa fa-google-plus"></i> Connect With Google</a>-->

                        <p class="bottom-create-account">
                            <a href="page-signup.html">Registrate</a>
                        </p>
                    </div>
                </div>
<!-- /SIGN IN -->
<!-- PAISES -->

 <div class="btn-group pull-left hidden-xs" ng-controller="ContactUsController as main">

<select name="selectPaises" id="selectPaises" ng-options="item.Nombre for item in main.paises track by item.Id" ng-model="main.paisSeleccionado" ng-change="main.CambiaPais()">

    </select>

<!--<button class="dropdown-toggle language" type="button" data-toggle="dropdown">
  <i class="fa fa-user fa-fw"></i><span class="hidden-xs"> {{ main.paisSeleccionado}}</span>&nbsp;<span class="caret"></span>
</button>


  <ul class="dropdown-menu">
    <li ng-repeat="pais in main.paises">
      <a href="#/usuario/perfil">
        <i class="fa fa-user fa-fw"></i>{{pais.Nombre}}
      </a>
    </li>
  </ul>-->

</div>


<!--USER PROFILE -->
<div class="btn-group pull-right hidden-xs" ng-if="main.userLogged">
<button class="dropdown-toggle language" type="button" data-toggle="dropdown">
  <i class="fa fa-user fa-fw"></i><span class="hidden-xs"> {{ main.user.Nombre}}</span>&nbsp;<span class="caret"></span>
</button>

<ul class="dropdown-menu">
  <li>
    <a href="#/usuario/perfil">
      <i class="fa fa-user fa-fw"></i>Perfil de usuario
    </a>
  </li>
   <li ng-if="main.user.Proveedor==true">
    <a href="#/usuario/publicaciones">
      <i class="fa fa-list-alt fa-fw"></i>Mis publicaciones
    </a>
  </li>
  <li ng-if="main.user.Proveedor==true">
    <a href="http://citas.prevenirexpress.com/sesion/loginget/0/{{main.usuarioCitasId}}">
      <i class="fa fa-list-alt fa-fw"></i>Administrar citas
    </a>
  </li>
  <!-- <li class="divider"></li> -->
  <li>
    <a href="javascript:void(0);" ng-click="main.Logout()">
      <i class="fa fa-sign-out fa-fw"></i>Cerrar Sesi&oacute;n
    </a>
  </li>
</ul>
</div>
<!-- USER PROFILE -->

<!-- CART MOBILE BUTTON -->
<!-- <a class="pull-right" id="btn-mobile-quick-cart" href="shop-cart.html"><i class="fa fa-shopping-cart"></i></a> -->
<!-- CART MOBILE BUTTON -->

</div>
</header>

<!-- TOP NAV -->
<header id="topNav" class="topHead" style="height: 81px;">
<div class="container">

  <!-- Mobile Menu Button -->
  <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Logo text or image -->
  <a class="logo" href="#/">
    <img src="assets/images/logo.png" alt="Grupo Prevenir Express" style="height: 100% ;margin-left: -40px;"/>
  </a>

  <!-- Top Nav -->
  <div class="container"  ng-controller="ContactUsController as main">

    <div class="navbar-collapse nav-main-collapse collapse pull-right" ng-if="main.userLogged==false" style="max-width:90%">
      <nav class="nav-main mega-menu">
        <label for="show-menu" class="show-menu">Show Menu</label>

        <ul class ="ul nav nav-p" id="topMain">
          <li class ="li"><a href="#/">Inicio</a></li>
          <li class ="li"><a href="#/quienes-somos">Quienes Somos</a></li>
          <li class ="li"><a href="#/planes">Planes</a></li>
          <li class ="li"><a href="#/contactanos">PQRS</a></li>
          <li class ="li" style="width: 189px;"><a href="#/terminos-y-condiciones">T&eacute;rminos y Condiciones</a></li>
            <span>  <a href="#/empresas"><img style="margin-left: 750px;margin-top: -73px; width: 20%;"src="assets\images\BotonEmpresa2.png"></a></span>

        </ul>

      </nav>
    </div>



    <div class="navbar-collapse nav-main-collapse collapse pull-right" ng-if="main.userLogged" style="max-width:100%">
      <nav class="nav-main mega-menu">
        <label for="show-menu" class="show-menu">Show Menu</label>

        <ul class ="ul nav nav-p" id="topMain">
          <li class ="li"><a href="#/index">Servicios</a></li>
          <li class ="li"><a href="#/servicios">Privilegios</a></li>
          <li class ="li"><a href="#/quienes-somos">Quienes Somos</a></li>
          <li class ="li" style="width: 189px;"><a href="#/terminos-y-condiciones">T&eacute;rminos y Condiciones</a></li>
          <li class ="li"><a href="#/planes">Planes</a></li>
          <li class ="li"><a href="#/contactanos">PQRS</a></li>
        </ul>
      <span>  <a href="#/empresas"><img style="margin-left: 985px;margin-top: -73px; width: 17%;"src="assets\images\BotonEmpresa2.png"></a></span>

        <!--  <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
        <li>
        <a href="#/index">Inicio</a>
      </li>
      <li>
      <a href="#/servicios" class="menu-link">Servicios</a>
    </li>
    <li>
    <a href="#/quienes-somos" class="menu-link">Quienes somos</a>
  </li>
  <li>
  <a href="#/terminos-y-condiciones">Terminos y condiciones</a>
</li>
<li>
<a href="#/planes" class="menu-link">Planes</a>
</li>
<li>
<a href="#/contactanos" class="menu-link">ContÃ¡ctenos</a>
</li>
<!--  <li>
<a
href="#/contactanos"
ng-dialog="easy-store/views/home/contact.html"
ng-dialog-class="ngdialog-theme-plain"
ng-dialog-controller="ContactUsController"
ng-dialog-close-previous>ContÃ¡ctenos</a>
</li>
</ul>-->
</nav>
</div>


<!-- /Top Nav -->
</div>
</div>
</header>

<span id="header_shadow"></span>
<!-- /TOP NAV -->

<div id="wrapper" ng-view></div>


<!-- FOOTER -->
<footer>

<!-- copyright , scrollTo Top -->
<div class="footer-bar">
  <div class="container">
    <span class="copyright">Copyright &copy; Grupo Prevenir Express | Desarrollado por <a href="http://hashitoapps.com" target="_BLANK">HashitoApps</a>.</span>
    <a class="toTop" href="#topNav">VOLVER ARRIBA <i class="fa fa-arrow-circle-up"></i></a>
  </div>
</div>
<!-- copyright , scrollTo Top -->


<!-- footer content -->
<div class="footer-content">
  <div class="container">

    <div class="row">

      <!-- FOOTER LOGO -->
      <div class="column logo col-md-6 text-center">
        <div class="logo-content">
          <img class="animate_fade_in" src="assets/images/logo_footer.png" width="100" alt="" />
          <h4>Grupo Prevenir Express</h4>
        </div>
      </div>
      <!-- /FOOTER LOGO -->

      <!-- FOOTER CONTACT INFO -->
      <div class="column col-md-6">
        <h3>CONTACTENOS</h3>

        <p class="contact-desc">
          El objetivo de <strong>Grupo Prevenir Express SAS</strong> es proveer soluciones integrales que faciliten y agilicen la toma de decisiones importantes para nuestros suscriptores, en la adquisiciÃ³n de productos o servicios de las diferentes entidades.
        </p>


      </div>
      <!-- /FOOTER CONTACT INFO -->





      <!-- FOOTER LATEST POSTS -->
      <!--      <div class="column col-md-4 text-right">
      <h3>ULTIMAS PUBLICACIONES</h3>

      <div class="post-item">
      <small>Abril 4, 2015 por Admin</small>
      <h3><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
    </div>
    <div class="post-item">
    <small>Abril 4, 2015 por Admin</small>
    <h3><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
  </div>
  <div class="post-item">
  <small>Abril 4, 2015 por Admin</small>
  <h3><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
</div>

<a href="blog-masonry-sidebar.html" class="view-more pull-right">Ver Blog <i class="fa fa-arrow-right"></i></a>

</div>-->
<!-- /FOOTER LATEST POSTS -->


<div class="column col-md-12 text-center">

<hr>
<b>  <h3>NUESTRAS SEDES</h3> </b>
<div class="column col-md-4 text-justify">

  <address class="font-opensans">
    <ul>
      <li class="footer-sprite address">
        C. Comercial Los Andes. Local 214<br />
        Calle 18 No. 24-29 Parque Nari&ntilde;o<br />
        Pasto - Nari&ntilde;o
      </li>
      <li class="footer-sprite phone">
        Telefonos: (2) 7209417</br>
        <a href="call:+573104351937"> +57 310 435 1937</a>  y
        <a href="call:+573172645522"> +57 317 264 5522</a>
      </li>
      <li class="footer-sprite email">
        <a href="mailto:usuariosprevenir@hotmail.com">usuariosprevenir@hotmail.com</a>
      </li>
    </ul>
  </address>
</div>
<div class="column col-md-4 text-justify">
  <address class="font-opensans">
    <ul>
      <li class="footer-sprite address">
        C. Comercial Rodrival. Local 19<br />
        Cra. 7 No. 6-41 <br />
        Popayan - Cauca.

      </li>
       <li class="footer-sprite phone">
        Telefonos: (2) 7209417</br>
        <a href="call:+573104351937"> +57 310 435 1937</a>  y
        <a href="call:+573172645522"> +57 317 264 5522</a>
      </li>
      <li class="footer-sprite email">
        <a href="mailto:prevenirpopayan@hotmail.com">prevenirpopayan@hotmail.com</a>
      </li>
    </ul>
  </address>
</div>
<div class="column col-md-4 text-justify">
  <address class="font-opensans">
    <ul>
      <li class="footer-sprite address">
        Centro Empresarial Saya. Local 204<br />
        Cra. 8 No. 5-70 Altos de Prevenir<br />
        Mocoa - Putumayo
      </li>
      <li class="footer-sprite phone">
        Telefonos: (2) 7209417</br>
        <a href="call:+573104351937"> +57 310 435 1937</a>  y
        <a href="call:+573172645522"> +57 317 264 5522</a>
      </li>
      <li class="footer-sprite email">
        <a href="mailto:prevenirmocoa@hotmail.com">prevenirmocoa@hotmail.com</a>
      </li>
    </ul>
  </address>
</div>
</div>

</div>

</div>
</div>
<!-- footer content -->

</footer>
<!-- /FOOTER -->

<!-- JAVASCRIPT FILES -->
<script type="text/javascript" src="assets/plugins/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.appear.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.isotope.js"></script>
<script type="text/javascript" src="assets/plugins/masonry.js"></script>

<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/plugins/stellar/jquery.stellar.min.js"></script>
<script type="text/javascript" src="assets/plugins/knob/js/jquery.knob.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="assets/plugins/superslides/dist/jquery.superslides.min.js"></script>
<script type="text/javascript" src="assets/plugins/styleswitcher/styleswitcher.js"></script><!-- STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT -->
<script type="text/javascript" src="assets/plugins/mediaelement/build/mediaelement-and-player.min.js"></script>


<script type="text/javascript" src="assets/js/scripts.js"></script>

<script type="text/javascript" src="assets/js/accounting/accounting.min.js"></script>


<!-- Dependencias de la aplicaciÃ³n -->
<script src="assets/js/angular/angular.js"></script>
<script src="assets/js/angular-route/angular-route.min.js"></script>
<script src="assets/js/angular-resource/angular-resource.min.js"></script>
<script src="assets/js/jssor-slider/js/jssor.slider.mini.js"></script>
<script src="assets/js/dang-jssor/src/dang-jssor.js"></script>
<script src="assets/js/ngDialog/js/ngDialog.min.js"></script>
<script src="assets/js/satellizer/satellizer.min.js"></script>
<script src="assets/js/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="assets/js/angular-youtube-mb/src/angular-youtube-embed.js"></script>
<script src="https://cdn.jsdelivr.net/angular.youtube-embed/0.4.3/ng-youtube-embed.min.js"></script>

<!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
<script src="assets/js/ng-file-upload-shim/ng-file-upload-all.min.js"></script>
<script src="assets/js/ng-file-upload/ng-file-upload-all.js"></script>

<!-- DefiniciÃ³n aplicaciÃ³n angular -->
<script src="easy-store/app.js"></script>

<!-- Controladores aplicaciÃ³n angular -->
<script src="easy-store/controllers/contact-us-controller.js"></script>
<script src="easy-store/controllers/home-controller.js"></script>
<script src="easy-store/controllers/list-controller.js"></script>
<script src="easy-store/controllers/publicacion-controller.js"></script>
<script src="easy-store/controllers/publicaciones-usuario.js"></script>
<script src="easy-store/controllers/publicar-controller.js"></script>
<script src="easy-store/controllers/planes-controller.js"></script>
<script src="easy-store/controllers/quienes-somos-controller.js"></script>
<script src="easy-store/controllers/registro-controller.js"></script>
<script src="easy-store/controllers/registroFamilia-controller.js"></script>
<script src="easy-store/controllers/search-controller.js"></script>
<script src="easy-store/controllers/servicios-controller.js"></script>
<script src="easy-store/controllers/sesion-controller.js"></script>
<script src="easy-store/controllers/suscribe-controller.js"></script>
<script src="easy-store/controllers/usuario-admin-controller.js"></script>

<script src="easy-store/controllers/principal-controller.js"></script>
<script src="easy-store/controllers/imagenes-controller.js"></script>
<script src="easy-store/controllers/contactoNuevo-controller.js"></script>

<script src="easy-store/controllers/comentario-controller.js"></script>
<script src="easy-store/controllers/aprobacion-controller.js"></script>
<script src="easy-store/controllers/contrasena-controller.js"></script>


<!-- Factorias aplicaciÃ³n angular-->
<script src="easy-store/factories/publicacion-factory.js"></script>
<script src="easy-store/factories/search-factory.js"></script>
<script src="easy-store/factories/suscribe-factory.js"></script>
<script src="easy-store/factories/usuario-factory.js"></script>
<script src="easy-store/factories/citas-factory.js"></script>

<!-- lightbox configuration js -->
<script src="assets/plugins/lightbox/js/lightbox.js"></script>
<script type="text/javascript" src="assets/js/angular-multiple-select/multiple-select.min.js"></script>



<!-- Google Analitycs Code for prevenirexpress.co -->
<script>
(function(i, s, o, g, r, a, m) {
i['GoogleAnalyticsObject'] = r;
i[r] = i[r] || function() {
  (i[r].q = i[r].q || []).push(arguments)
}, i[r].l = 1 * new Date();
a = s.createElement(o),
m = s.getElementsByTagName(o)[0];
a.async = 1;
a.src = g;
m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-62221864-1', 'auto');
ga('send', 'pageview');
</script>

<!-- Hotjar Tracking Code for prevenirexpress.co -->
<script>
(function(f, b) {
var c;
f.hj = f.hj || function() {
  (f.hj.q = f.hj.q || []).push(arguments)
};
f._hjSettings = {hjid: 25201, hjsv: 4};
c = b.createElement("script");
c.async = 1;
c.src = "//static.hotjar.com/c/hotjar-" + f._hjSettings.hjid + ".js?sv=" + f._hjSettings.hjsv;
b.getElementsByTagName("head")[0].appendChild(c);
})(window, document);


var eventFired = 0;

if ($(window).width() < 1024) {
  window.location="https://play.google.com/store/apps/details?id=com.ionicframework.mobile573328&hl=es-419";

}
else {

    eventFired = 1;
}

$(window).on('resize', function() {
    if (!eventFired) {
        if ($(window).width() < 1024) {
            alert('Less than 960 resize');
        } else {
            alert('More than 960 resize');
        }
    }
});
</script>
</body>
</html>
