<div class="container top-no-header">
  <div class="row">

    <div class="col-md-9">
      <div class="white-row">
        <h2>Aprobación de la Publicación</h2>
        <div class="linea"></div>
        <div class="embed-responsive embed-responsive-16by9">
          <div id="slider1_container" class="slides-container" data-options="{{ vm.options }}" style="position: relative; margin: 0 auto;
                  top: 0px; left: 0px; width: 860px; height: 500px; overflow: hidden;">
              <!-- Slides Container -->
              <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 860px;
                      height: 500px; overflow: hidden;">
                  <div ng-repeat='slide in vm.currentPublication.Imagens'
                     enable-jssor jssor-options="vm.options"
                     jssor-trigger="{{$last}}">
                      <a class="example-image-link" href="{{ slide.RutaGrande }}" data-lightbox="example-set"> <img class="lightbox" u="image" src="{{ slide.RutaGrande }}"  width="900"/></a>
                  </div>
              </div>
            <div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
              <!-- bullet navigator item prototype -->
              <div u="prototype"></div>
            </div>
              <!-- Arrow Left -->
              <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
              </span>
              <!-- Arrow Right -->
              <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
              </span>
              <!--#endregion Arrow Navigator Skin End -->
          </div>
        </div>
      </div>
      
      <div class="white-row">

        <h3> <span><img src="././favicon-32x32.png"/></span>
          <strong class="styleColor">{{ vm.currentPublication.Nombre }}</strong>
        </h3>
        <div class="linea"></div>
        <br>
        <div class="row">
          <p class="lead text-center">{{ vm.currentPublication.DescripcionCorta }}</p>
          <p class="text-center">{{ vm.currentPublication.DescripcionLarga }}</p>
        </div>
      </div>

      <div class="white-row">
        <h3 class="page-header nomargin-top">
          <span data-toggle="tooltip" title="Ver más"><i class="fa fa-money"></i></span>
          <strong class="styleColor">Precios</strong>
        </h3>
        <br>
        <div class="row">
          <p class="lead text-center" > Descuento {{ vm.currentPublication.PorcentajePromo }}% </p>
          <p class="lead text-center" > Precio Prevenir {{ vm.currentPublication.PrecioDesc | currency:"$":0 }} </p>
          <p class="lead text-center" > Precio Particulares {{ vm.currentPublication.Precio | currency:"$":0 }} </p>
        </div>
      </div>

      <div class="white-row">
        <h3 class="page-header nomargin-top">
          <span data-toggle="tooltip" title="Ver más"><i class="fa fa-check"></i></span>
           <strong class="styleColor">Calificación</strong>
        </h3>
        <form name="frmAprobar" ng-submit="vm.ActualizarEstado()">
        <div class="row">
          <div class="col-md-6">
            <center> <img id="aprobado" src="./assets/images/botonAprobado.png" alt="" onclick="clase('aprobado')" /></center>
          </div>
          <div class="col-md-6">

          </div>
        </div>
          <div class="row">
            <div class="col-md-6"style="padding-top: 3%;">
               <center> <img id="desaprobado" src="./assets/images/botonRechazado.png" onclick="clase('desaprobado')" /></center>
        </div>
        <div class="col-md-6" >
            <p>Razon de la respuesta a la aprobación:</p>
            <textarea ng-model="vm.currentPublication.ComentarioRazon" id="texto" maxlength="255" style="width:100%"></textarea>
          </div>
          <input type="submit" id="enviarApro" style="display:none">
        </form>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <h3 class="page-header nomargin-top margin-bottom40">
         <strong class="styleColor">Más Populares</strong>
      </h3>
      <div class="row">
        <div ng-repeat="val in vm.mostPopulars">
          <!-- No #1 Hot -->
          <div class="item-box nomargin-top" ng-show="$index < 2">
            <figure>
              <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-plus fsize20"></span>
                  <strong>Ver más</strong>
                </span>
              </a>
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande}}" />
            </figure>
            <div class="item-box-desc">
              <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
              <small class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
              <small class="font300 text-center block" ng-if="val.PorcentajePromo==0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
            </div>
          </div>
          <!-- /No #1 Hot -->

          <div class="col-xs-6 col-md-6" ng-show="$index >= 2">
            <a href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
              <h6 class="fsize12 font300 padding6 styleSecondColor">{{ val.Nombre }}</h6>
            </a>
          </div>
        </div>
      </div>
      <h3 class="page-header">
        <i class="fa fa-twitter"></i>
         <strong class="styleColor">Últimos Tweets</strong>
      </h3>
      <center><a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
      <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
    </div>
  </div>
</div>
<div ng-include="'easy-store/views/partials/suscribe.html'"></div>
