<br><br><br><br>
<section class="container">
  <div class="row">
    <div class="col-md-9">
      <form ng-submit="vm.ActualizarPublicacion()">
        <h3 class="page-header nomargin-top">
          <a href="realestate-list.html" data-toggle="tooltip" title="Ver más"><i class="fa fa-plus-square-o"></i></a>
          Editar <strong class="styleColor">Publicación</strong>
        </h3>
        <h3>
          ¿Que tipo de servicio <strong><em>vas a prestar?</em></strong>
          <button
            class="btn btn-success pull-right"
            ng-dialog="easy-store/views/publicacion/nueva-categoria.html"
            ng-dialog-class="ngdialog-theme-plain"
            ng-dialog-controller="NuevaCategoriaController"
            ng-dialog-close-previous
          >
            <i class="fa fa-comment fa-fw"></i>¿Necesitas otra categoría?
          </button>
        </h3>
        <div class="white-row">
          <div class="row">
            <div class="form-group">
              <div class="col-md-6">
                <label>Categoría</label>
                <select class="form-control" ng-model="vm.publicacion.SubCategoriaId" ng-change="vm.CargarVariedades()">
                  <option value selected disabled> Selecciona una categoría</option>
                  <option ng-repeat="sub in vm.categorias" value="{{ sub.Id }}" ng-model="vm.publicacion.SubCategoriaId">{{ sub.Nombre }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <select ng-style="{'visibility': 'hidden'}" class="form-control" ng-model="vm.publicacion.VariedadId">
                  <option value selected disabled> Selecciona una subcategoría</option>
                  <option ng-repeat="vari in vm.variedades" value="{{ vari.Id }}" selected="{{ vari.Id }}" ng-model="vm.publicacion.VariedadId">{{ vari.Nombre }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-6">
                <label>Departamento</label>
                <select class="form-control" ng-model="vm.publicacion.DepartamentoId" ng-change="vm.CargarMunicipios()">
                  <option value selected disabled>Seleccione un departamento</option>
                  <option ng-repeat="dept in vm.departamentos" value="{{ dept.Id }}" ng-model="vm.publicacion.DepartamentoId">{{ dept.Nombre }}</option>
                </select>
              </div>
              <!--<div class="col-md-6">
                <label>Ciudad</label>
                <select class="form-control" ng-model="vm.publicacion.MunicipioId">
                  <option value selected disabled> Selecciona un municipio</option>
                  <option ng-repeat="mun in vm.municipios" value="{{ mun.Id }}" ng-model="vm.publicacion.MunicipioId">{{ mun.Nombre }}</option>
                </select>
              </div>-->

               <div class="col-md-6">
                <label>Ciudad</label>
                <multiple-autocomplete ng-model="vm.selectedList"
                   object-property="name"
                   suggestions-arr="vm.optionsList"
                    after-select-item="vm.despuesSeleccionarCiudad" 
                   >
              </multiple-autocomplete>
              </div>


            </div>
          </div>
        </div>
        <h3>Ingrese la información <strong><em>básica de su publicación</em></strong></h3>
        <div class="white-row">
          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <label>Nombre del servicio</label>
                <input type="text" ng-model="vm.publicacion.Nombre" data-msg-required="Por favor ingrese el nombre de su servicio." maxlength="100" class="form-control" name="subject" id="subject">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-4">
                <label>Descuento</label>
                <input id="porcentaje" type="number" placeholder="Ejemplo: 60%" ng-model="vm.publicacion.PorcentajePromo" data-msg-required="Por favor ingrese el descuento." class="form-control" name="name" min="0" max="100" onkeyup="validarPorcentaje(this.id)">
              </div>
              <div class="col-md-4">
                <label>Precio a particulares</label>
                <input id="precio" type="text" ng-model="vm.publicacion.Precio" data-msg-required="Por favor ingrese el precio a particulares." class="form-control" name="name" maxlength="12" onkeyup="format(this.id)">
              </div>
              <div class="col-md-4">
                <label>Precio clientes Prevenir Express</label>
                <input id="precio1" type="text" ng-model="vm.publicacion.PrecioDesc" step="100" data-msg-required="Por favor ingrese el precio a clientes Prevenir." class="form-control" name="email" maxlength="12" onkeyup="format(this.id)">
              </div>
            </div>
          </div>
        </div>
        <h3>Cuentenos más sobre <strong><em>su publicación</em></strong></h3>
        <div class="white-row">
          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <label>Descripción corta</label>
                <input type="text" ng-model="vm.publicacion.DescripcionCorta" data-msg-required="Por favor ingrese la descripción de su servicio." maxlength="100" class="form-control" name="subject" id="subject">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <label>Descripción larga</label>
                <textarea maxlength="5000" ng-model="vm.publicacion.DescripcionLarga" data-msg-required="Por favor ingrese la descripción de su servicio." rows="10" class="form-control" name="message" id="message"></textarea>
              </div>
            </div>
          </div>
        </div>
        <h3>Agrega algunas imagenes <strong><em>a tu publicación</em></strong></h3>
        <div class="white-row">
          <div class="row">
            <div class="col-md-12">
              <div ngf-drop ngf-select ng-model="vm.files" class="drop-box"
                ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                accept="image/*"
                ngf-pattern="'image/*'"
              >
                <br><br><br><br><br>
                <i class="fa fa-upload fa-4x"></i><br>
                Arrastre sus imagenes aqui <br> ó haga clic para seleccionarlas
                <br><br><br><br><br>
              </div>
              <div ngf-no-file-drop>Su navegador no soporta arrastrar y soltar</div>
            </div>
          </div>
          <div class="row" ng-if="vm.files.length > 0">
            <div class="col-md-3" ng-repeat="file in vm.files">
              <div class="new-image">
                <i class="fa fa-asterisk fa-lg"></i>
                <img ngf-thumbnail="file || '/thumb.jpg'" class="img-responsive">
              </div>
              <button class="btn btn-danger btn-block btn-xs" ng-click="vm.EliminarNuevaImagen($index)">
                <i class="fa fa-trash fa-fw"></i>Eliminar
              </button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3" ng-repeat="img in vm.publicacion.Imagens">
              <img ng-src="{{ img.RutaGrande }}" class="img-responsive">
              <button class="btn btn-danger btn-block btn-xs" ng-click="vm.EliminarImagen(img, $index)"><i class="fa fa-trash fa-fw"></i>Eliminar</button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <input type="submit" value="Actualizar Publicación" class="btn btn-primary btn-lg" data-loading-text="Loading...">
              &nbsp;&nbsp;ó&nbsp;&nbsp;<a href="#/usuario/publicaciones">Cancelar</a>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="col-md-3">
      <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
    </div>
  </div>
  <div ng-include="'easy-store/views/partials/suscribe.html'"></div>
  <div ng-include="'easy-store/views/partials/reasons.html'"></div>
</section>
