<div class="container top-no-header">



	<div class="row">
		<div class="col-md-9">
			<div class="white-row">
      <h3 class="page-header nomargin-top">
        <strong class="styleColor">Resultados Búsqueda</strong>
      </h3>

      <!-- PAGINATION -->
      <div class="row">
        <div class="col-md-6 text-left responsive-text-center">
          <p class="hidden-xs pull-left nomargin padding30"><strong>Mostrando</strong> {{ (vm.page - 1) * vm.pageSize + 1 }} a {{ (vm.page * vm.pageSize) > vm.publicationCount ? vm.publicationCount : (vm.page * vm.pageSize) }} resultados de {{ vm.publicationCount }}</p>
        </div>
        <div class="col-md-6 text-right" ng-show="vm.pages.length > 1">
          <ul class="pagination">
            <li>
              <a
                ng-click="vm.ChangePage(vm.page - 1)"
                ng-disabled="vm.page <= 1"><i class="fa fa-chevron-left"></i></a>
            </li>
            <li
              ng-repeat="item in vm.pages"
              ng-class="{'active':($index + 1 ) == vm.page }"
              ng-show="vm.pageShow($index + 1)">
              <a ng-click="vm.ChangePage($index + 1)">{{ ($index + 1) }}</a>
            </li>
            <li ng-disabled="vm.page >= vm.pages.length">
              <a
                ng-click="vm.ChangePage(vm.page + 1)"
                ng-disabled="vm.page <= 1"><i class="fa fa-chevron-right"></i></a>
            </li>

          </ul>
        </div>
      </div>
      <!-- /PAGINATION -->

      <hr class="half-margins" /><!-- separator -->

      <div class="row" ng-repeat-start="val in vm.publicationList">
        <div class="col-md-5 text-center">
          <img alt="" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
        </div>
        <div class="col-md-7">
          <h4><a class="styleColor" href="#/publicaciones/{{ val.Nombre | lowercase }}/{{ val.Id }}">{{ val.Nombre }}</a></h4>
          <p>
            <small class="block styleSecondColor fsize17" ng-if="val.PorcentajePromo!=0">Descuento {{ val.PorcentajePromo }}%</small>
            <small class="block styleSecondColor fsize17" ng-if="val.PorcentajePromo==0">Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }}</small>
            {{ val.DescripcionLarga }}
          </p>
          <p>
            <a href="#/publicaciones/{{ val.Nombre | lowercase }}/{{ val.Id }}" class="btn btn-primary">Ver más</a>
          </p>
        </div>
      </div>

      <hr class="half-margins" ng-repeat-end/><!-- separator -->

      <!-- PAGINATION -->
      <div class="row">
        <div class="col-md-6 text-left responsive-text-center">
          <p class="hidden-xs pull-left nomargin padding30"><strong>Mostrando</strong> {{ (vm.page - 1) * vm.pageSize + 1 }} a {{ (vm.page * vm.pageSize) > vm.publicationCount ? vm.publicationCount : (vm.page * vm.pageSize) }} resultados de {{ vm.publicationCount }}</p>
        </div>
        <div class="col-md-6 text-right" ng-show="vm.pages.length > 1">
          <ul class="pagination">
            <li>
              <a
                ng-click="vm.ChangePage(vm.page - 1)"
                ng-disabled="vm.page <= 1"><i class="fa fa-chevron-left"></i></a>
            </li>
            <li
              ng-repeat="item in vm.pages"
              ng-class="{'active':($index + 1 ) == vm.page }"
              ng-show="vm.pageShow($index + 1)">
              <a ng-click="vm.ChangePage($index + 1)">{{ ($index + 1) }}</a>
            </li>
            <li ng-disabled="vm.page >= vm.pages.length">
              <a
                ng-click="vm.ChangePage(vm.page + 1)"
                ng-disabled="vm.page <= 1"><i class="fa fa-chevron-right"></i></a>
            </li>

          </ul>
        </div>
      </div>
      <!-- /PAGINATION -->

    </div>
	</div>
    <div class="col-md-3">
			<div class="white-row">
      <div class="section-container">
        <h3 class="page-header nomargin-top">
           <strong class="styleColor">Filtre su búsqueda</strong>
        </h3>
        <form name="frmFilter" novalidate="">
          <!-- <div class="form-group">
            <label for="IdCategoria" class="form-label">Categoría</label>
            <select name="IdCategoria" id="IdCategoria" ng-model="vm.filters.IdCategoria" class="form-control control-full-width" ng-change="vm.LoadSubCategories()">
              <option value selected disabled>Seleccione la categoría</option>
              <option ng-repeat="val in vm.categorias" value="{{ val.Id }}" ng-model="vm.filters.IdCategoria">{{ val.Nombre }}</option>
            </select>
          </div> -->
          <div class="form-group">
            <label for="IdSubCategoria" class="form-label">Categoría</label>
            <select name="IdSubCategoria" id="IdSubCategoria" ng-model="vm.filters.IdSubCategoria" class="form-control control-full-width" ng-change="vm.LoadSubCategories()">
              <option value selected disabled>Seleccione la categoría</option>
              <option ng-repeat="val in vm.subCategorias" value="{{ val.Id }}" ng-model="vm.filters.IdSubCategoria">{{ val.Nombre }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="IdVariedad" class="form-label">Sub categoría</label>
            <select name="IdVariedad" id="IdVariedad" ng-model="vm.filters.IdVariedad" class="form-control control-full-width">
              <option value selected disabled>Seleccione la Sub categoría</option>
              <option ng-repeat="val in vm.variedades" value="{{ val.Id }}" ng-model="vm.filters.IdVariedad">{{ val.Nombre }}</option>
            </select>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="MinValue" class="form-label">Précio Min.</label>
                <input type="number" name="MinValue" id="MinValue" ng-model="vm.filters.MinValue" class="form-control control-full-width">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="MaxValue" class="form-label">Precio Max.</label>
                <input type="number" name="MaxValue" id="MaxValue" ng-model="vm.filters.MaxValue" class="form-control control-full-width">
              </div>
            </div>
          </div>
          <button
            class="btn btn-danger fullwidth"
            ng-click="vm.Filter()">
            <i class="fa fa-filter"></i>&nbsp;&nbsp;Filtrar</button>
        </form>
      </div>
		</div>
	</div>
	</div>
  <br><br>
  <div ng-include="'angular/views/partials/suscribe.html'"></div>


</div>
<br><br>
