<br><br><br><br>
<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-header nomargin-top">
        <a href="realestate-list.html" data-toggle="tooltip" title="Ver más"><i class="fa fa-plus-square-o"></i></a>
        Tus <strong class="styleColor">Publicaciones</strong>
      </h3>
      <div class="row">
        <div class="col-md-12">
          <a href="#/usuario/publicaciones/nueva" class="btn btn-primary pull-right">
            <i class="fa fa-plus fa-fw"></i>Nueva publicación
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6" ng-repeat="val in vm.publicaciones">
          <div class="item-box">
            <figure>
              <a class="item-hover" href="#/usuario/publicaciones/{{ val.Id }}/editar">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-edit fsize20"></span>
                  <strong>Editar</strong>
                </span>
              </a>
              <img alt="{{ val.Nombre }}" class="img-responsive" ng-src="{{ val.Imagens[0].RutaGrande }}" width="409" height="271" />
            </figure>
            <div class="item-box-desc">
              <h4>{{ val.Nombre | limitTo : 19}}..</h4>
              <muted>Descuento {{ val.PorcentajePromo }}%</muted><br>
              <muted>Precio particular {{ val.Precio | currency:"$":0 }}</muted><br>
              <muted>Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }}</muted>
              <p>{{ val.DescripcionCorta | limitTo : 20}}..</p>
              <p ng-if="val.Estado==0">La publicacion no ha sido aceptada</p>
              <p>
                <button class="btn btn-danger btn-xs" ng-click="vm.EliminarPublicacion(val, $index)">
                  <i class="fa fa-trash fa-fw"></i>Eliminar
                </button>
                <!-- <span class="fsize12 pull-right">
                  <i class="bed-ico" title="beds"></i> 3 ,
                  <i class="garage-ico" title="garage"></i> 1 ,
                  <i class="furnished-ico" title="furnished"></i>
                </span>

                <i class="home-ico"></i> 300m<sup>2</sup> -->
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'easy-store/views/partials/suscribe.html'"></div>
  <div ng-include="'easy-store/views/partials/reasons.html'"></div>
</section>
