<div class="dialog-contents">
  <h3 class="page-header nomargin-top">
    <a href="#" data-toggle="tooltip" title="Ver más"><i class="fa fa-comment"></i></a>
    ¿Necesitas <strong class="styleColor">otra categoría?</strong>
  </h3>
  <form name="frmNvaCategoria" novalidate ng-submit="RequestCategory()">
    <div class="form-group">
      <label>Cuentanos un poco sobre tu servicio o producto y por que crees que necesitas una categoría especial para él</label>
    </div>
    <div class="form-group">    
      <input
        type="text" 
        class="form-control control-full-width"
        placeholder="Categoría"
        ng-model="nvaCategoriaForm.Categoria"
        required>
    </div>
    <div class="form-group">    
      <input 
        type="text"
        class="form-control control-full-width"
        placeholder="Sub categoría"
        ng-model="nvaCategoriaForm.Subcategoria"
        required>
    </div>
    <div class="form-group">
      <textarea 
        name="" 
        cols="30" 
        rows="10" 
        class="form-control control-full-width"
        placeholder="Breve descripción de tu producto ó servicio"
        ng-model="nvaCategoriaForm.Mensaje"
        required></textarea>
    </div>
    <button 
      type="submit" 
      class="btn btn-success pull-right"
      ng-disabled="frmNvaCategoria.$invalid"><i class="fa fa-comment fa-fw"></i>Solicitar</button>
    <br><br>
  </form>
</div>