<div class="container top-no-header">

  <div class="container">
    <div id="popupCalificacion" class="modal">
      <div class="modal-content">
        <span class="close" ng-click="vm.closeAlertRegistro()">&times;</span>
        <h2>Como calificar</h2>
        <p>No olivide realizar un comentario acerca de nuestra publicación <br> Al final de la publicación se encuentra un area llamada Comentario <br> En esta area se puede calificar la publicación como buena o mala y dejarle un comentario para mejorar el servicio</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="white-row">
        <div class="embed-responsive embed-responsive-16by9">
          <div id="slider1_container" class="slides-container" data-options="{{ vm.options }}" style="position: relative; margin: 0 auto;
                  top: 0px; left: 0px; width: 860px; height: 500px; overflow: hidden;">
              <!-- Slides Container -->
              <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 860px;
                      height: 500px; overflow: hidden;">
                  <div ng-repeat='slide in vm.currentPublication.Imagens'
                     enable-jssor jssor-options="vm.options"
                     jssor-trigger="{{$last}}">
                      <a class="example-image-link" href="{{ slide.RutaGrande }}" data-lightbox="example-set"> <img class="lightbox" u="image" src="{{ slide.RutaGrande }}"  width="900"/></a>
                  </div>
              </div>
            <div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
              <!-- bullet navigator item prototype -->
              <div u="prototype"></div>
            </div>
              <!-- Arrow Left -->
              <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
              </span>
              <!-- Arrow Right -->
              <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
              </span>
              <!--#endregion Arrow Navigator Skin End -->
          </div>
        </div>
      </div>

      <div class="white-row">
        <h3> <span><img src="././favicon-32x32.png"/></span>
          <strong class="styleColor">{{ vm.currentPublication.Nombre }}</strong>
        </h3>
        <div class="linea"></div>
        <br>
        <div class="row">
          <p class="lead text-center">{{ vm.currentPublication.DescripcionCorta }}</p>
          <p class="text-center">{{ vm.currentPublication.DescripcionLarga }}</p>
        </div>
      </div>

      <div class="white-row">
        <h3 class="page-header nomargin-top">
          <span data-toggle="tooltip" title="Ver más"><i class="fa fa-money"></i></span>
          <strong class="styleColor">Precios</strong>
        </h3>
        <br>
        <div class="row">
          <p class="lead text-center" ng-if="vm.currentPublication.PorcentajePromo!=0"> Descuento {{ vm.currentPublication.PorcentajePromo }}% </p>
          <p class="lead text-center" ng-if="vm.currentPublication.PorcentajePromo!=0"> Precio Prevenir {{ vm.currentPublication.PrecioDesc | currency:"$":0 }} </p>
          <p class="lead text-center" ng-if="vm.currentPublication.PorcentajePromo!=0"> Precio Particulares {{ vm.currentPublication.Precio | currency:"$":0 }} </p>
        </div>
      </div>

      <div class="white-row">
        <h3 class="page-header nomargin-top">
          <span data-toggle="tooltip" title="Ver más"><i class="fa fa-video-camera"></i></span>
           <strong class="styleColor">Conocenos Mejor</strong>
        </h3>

       <label id="linkvideo" hidden>{{vm.link}}</label>
       <iframe id="video" frameborder="0" width="100%" height="600px"></iframe>

      <script>
             $(function() {

               setTimeout(function(){
                  $("#video").attr("src", $("#linkvideo").text());

               },5000);

             });
        </script>


      </div>
      <div class="white-row">
        <h3 class="page-header nomargin-top">
          <span data-toggle="tooltip" title="Ver más"><i class="fa fa-map-marker"></i></span>
          <strong class="styleColor">Donde Estamos</strong>
        </h3>
         <label id="linkposicion" hidden>{{vm.currentPublication.Usuario.Ubicacion}}</label>
        <div id="posicion" ng-show="vm.currentPublication.Usuario.Ubicacion" >


        </div>
         <script>
             $(function() {

               setTimeout(function(){

                  $("#posicion").html($("#linkposicion").text());
               },5000);

             });
        </script>
      </div>

      <div class="white-row">
        <h3 class="page-header nomargin-top">
          <span data-toggle="tooltip" title="Ver más"><i class="fa fa-check"></i></span>
           <strong class="styleColor">Calificación</strong>
        </h3>
        <div class="row">
          <form name="frmMegusta" ng-submit="vm.AcutalizarMeGusta()">
            <div class="col-md-6 col-sm-6">
              <p style="font-size: 22px; text-align: right;" onclick="manito('megusta')"><i id="megusta" class="fa fa-smile-o"></i> Me gusta <input id="numMegusta" type="text" style="width: 14%; border: 0px; background: none;" disabled ng-model="vm.currentPublication.MeGusta"></p>
            </div>
            <div class="col-md-6 col-sm-6">
              <p style="font-size: 22px;" onclick="manito('nomegusta')"><i id="nomegusta" class="fa fa-frown-o"></i> No me gusta <input id="numNomegusta" type="text" style="width: 14%; border: 0px; background: none;" disabled ng-model="vm.currentPublication.NoMeGusta"></p>
            </div>
            <input type="submit" id="enviar" style="display:none">
          </form>
          <form name="frmComentario" ng-submit="vm.CrearComentario()">
            <div class="col-md-8 col-sm-8">
              <p>Comentario:</p>
              <textarea ng-model="vm.currentPublication.Comentario" maxlength="255" style="width:100%"></textarea>
          </div>
          <div class="col-md-4 col-sm-4" style="padding-top: 6%;">
            <button
              class="btn btn-primary fullwidth noborder"
              ng-disabled="frmComentario.$invalid"
              type="submit">Enviar comentario</button>
            </div>
        </form>
        </div>
      </div>

        <div class="white-row">
          <h3 class="page-header nomargin-top">
            <span data-toggle="tooltip" title="Ver más"><i class="fa fa-comments"></i></span>
             <strong class="styleColor">Comentarios</strong>
          </h3>
          <div class="row" ng-if="vm.comentarios.length > 0">
            <div ng-repeat="val in vm.comentarios">
               
               <P>
                <span data-toggle="tooltip" title="Ver más"><i class="fa fa-comments"></i></span>
                <strong style="font-size: 18px">{{ val.Comentario }}</strong>
                </P>
                 
            </div>
          </div>
          <div class="row" ng-if="vm.comentarios.length <= 0">
            Esta publicacion no tiene comentarios
          </div>
        </div>


      <div class="white-row">
        <h3 class="page-header nomargin-top">
          <span href="#" data-toggle="tooltip" title="Ver más"><i class="fa fa-envelope"></i></span>
           <strong class="styleColor">Ponte en contacto</strong>
        </h3>
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <figure class="agent-figure pull-left hidden-xs">
              <img src="{{ vm.currentPublication.Usuario.Avatar }}" height="210">
            </figure>
            <p>
              <strong class="styleSecondColor fsize17">{{ vm.currentPublication.Usuario.Nombre }}</strong>
            </p>
            <p>
              <span class="block">
                <strong>Correo:</strong> {{ vm.currentPublication.Usuario.Correo }}
              </span>
              <span class="block">
                <strong>Teléfono:</strong> {{ vm.currentPublication.Usuario.Telefono }}
              </span>
              <span class="block" ng-if="vm.currentPublication.Usuario.UrlPagina!=''">
                <strong>Pagina web:</strong> {{ vm.currentPublication.Usuario.UrlPagina }}
              </span>
              <span class="block" ng-if="vm.currentPublication.Usuario.UrlPagina==null">
                <strong>Pagina web:</strong> no tiene pagina web
              </span>
              <a href="#/publicacionesusuario/{{vm.currentPublication.Usuario.Id}}/{{vm.currentPublication.Usuario.Nombre}}">Más publicaciones de este usuario</a>
              <br>

               <a href="http://citas.prevenirexpress.com/sesion/loginget/{{vm.usuarioPublicacionCitasId}}/{{vm.usuarioCitasId}}" target="_blank" class="btn btn-primary fullwidth noborder">Sacar cita</a>

            </p>
            <p class="fsize13">{{ vm.currentPublication.Usuario.Descripcion }}</p>
          </div>
          <div class="col-md-5 col-sm-5">
            <p>
              <strong class="styleSecondColor fsize17">Contactanos</strong>
            </p>
            <form name="frmContact" class="input-group fullwidth" novalidate ng-submit="vm.SendContactMail()">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  ng-model="vm.contactForm.Name"
                  placeholder="Nombre"
                  required>
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  ng-model="vm.contactForm.Email"
                  placeholder="Correo"
                  required>
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  ng-model="vm.contactForm.Message"
                  placeholder="Mensaje"
                  rows="5"
                  required></textarea>
              </div>
              <button
                class="btn btn-primary fullwidth noborder"
                ng-disabled="frmContact.$invalid"
                type="submit">Enviar mensaje</button>
            </form>
          </div>
        </div>
      </div>
      <h3 class="page-header nomargin-top">
        <span href="#" data-toggle="tooltip" title="Ver más"><i class="fa fa-plus-square-o"></i></span>
         <strong class="styleColor"> Publicaciones Similares</strong>
      </h3>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="val in vm.similarPublications">
          <div class="item-box">
            <figure>
              <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-plus fsize20"></span>
                  <strong>Ver más</strong>
                </span>
              </a>
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" width="409" height="271" />
            </figure>
            <div class="item-box-desc">
              <h4>{{ val.Nombre }}</h4>
              <small ng-if="val.PorcentajePromo!=0">Decuento {{ val.PorcentajePromo }}%</small>
              <small ng-if="val.PorcentajePromo==0">Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }}</small>
              <p>{{ val.DescripcionCorta }}</p>
              <!--p>
                <span class="fsize12 pull-right">
                  <i class="bed-ico" title="beds"></i> 3 ,
                  <i class="garage-ico" title="garage"></i> 1 ,
                  <i class="furnished-ico" title="furnished"></i>
                </span>

                <i class="home-ico"></i> 300m<sup>2</sup>
              </p-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h3 class="page-header nomargin-top margin-bottom40">
         <strong class="styleColor">Más Populares</strong>
      </h3>
      <div class="row">
        <div ng-repeat="val in vm.mostPopulars">
          <!-- No #1 Hot -->
          <div class="item-box nomargin-top" ng-show="$index < 2">
            <figure>
              <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-plus fsize20"></span>
                  <strong>Ver más</strong>
                </span>
              </a>
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande}}" />
            </figure>
            <div class="item-box-desc">
              <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
              <small class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
              <small class="font300 text-center block" ng-if="val.PorcentajePromo==0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
            </div>
          </div>
          <!-- /No #1 Hot -->

          <div class="col-xs-6 col-md-6" ng-show="$index >= 2">
            <a href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
              <h6 class="fsize12 font300 padding6 styleSecondColor">{{ val.Nombre }}</h6>
            </a>
          </div>
        </div>
      </div>
      <div class="row">


          <div class="white-row">
      <h3 class="page-header">
        <i class="fa fa-twitter"></i>
         <strong class="styleColor">Últimos Tweets</strong>
      </h3>
      <center><a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
</div>
<div class="white-row">
      <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
    </div>
          </div>
  </div>
</div>
<div ng-include="'easy-store/views/partials/suscribe.html'"></div>
