<br><br><br><br>
<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-header nomargin-top">
        <a href="realestate-list.html" data-toggle="tooltip" title="Ver más"><i class="fa fa-plus-square-o"></i></a>
        Publicaciones del usuario <strong class="styleColor">{{vm.user.Nombre}}</strong>
      </h3>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6" ng-repeat="val in vm.publicaciones">
          <div class="item-box">
            <figure>
              <a class="item-hover" href="#/publicaciones/{{val.Nombre}}/{{ val.Id }}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-edit fsize20"></span>
                  <strong>Ver</strong>
                </span>
              </a>
              <img alt="{{ val.Nombre }}" class="img-responsive1" ng-src="{{ val.Imagens[0].RutaGrande }}" width="409" height="271" />
            </figure>
            <div class="item-box-desc">
              <h4>{{ val.Nombre | limitTo : 15}}..</h4>
              <muted>Descuento {{ val.PorcentajePromo }}%</muted><br>
              <muted>Precio particular {{ val.Precio | currency:"$":0 }}</muted><br>
              <muted>Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }}</muted>
              <p>{{ val.DescripcionCorta | limitTo : 15}}..</p>
              <p>5
                <!-- <span class="fsize12 pull-right">
                  <i class="bed-ico" title="beds"></i> 3 ,
                  <i class="garage-ico" title="garage"></i> 1 ,
                  <i class="furnished-ico" title="furnished"></i>
                </span>

                <i class="home-ico"></i> 300m<sup>2</sup> -->
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'easy-store/views/partials/suscribe.html'"></div>
  <div ng-include="'easy-store/views/partials/reasons.html'"></div>
</section>
