<br><br><br><br>
<div class="container">

  <div ng-include="'angular/views/partials/search-form.html'"></div>
	<div class="row">
		<div class="col-md-12">
			<div class="white-row">
        <h3 class="page-header nomargin-top">
        <strong class="styleColor">Publicar</strong>
        </h3>
            <ul class="rss">
              <li>Somos una aplicación diseñada para facilitar descuentos en servicios con especialistas en todas las áreas: salud veterinario jurídica contable servicios con una gran acogida en sector salud belleza universidades eventos viajes y turismo y el comercio en general todo con calidad y servicio donde puedes comprar estos servicios desde tu teléfono o desde la web www.prevenirexpress.com</li>
              <li>Descubrir los mejores descuentos cerca de ti o en la ciudad que quieras en Colombia y en sur América</li>
              <li>Todos los descuentos son ofertados directamente por el profesional y pueden llegar al 100% en consultas revisiones chequeos tratamientos de acuerdo a * las políticas de cada proveedor de servicios</li>
              <li>Qué esperas para probarla y disfrutar de los mejores descuentos y de un equipo profesional que te atenderá con amabilidad y responsabilidad</li>
              <li>También puedes buscarnos en las redes sociales Facebook twitter LinkedIn y estar al día de todas novedades</li>
            </ul>
            <br>
          <center><h4>GRUPO PREVENIR EXPRESS - COLOMBIA</h4></center>

      <center>  <a href="#/usuario/registro">  <img src="./assets/images/boton_regristro.png"></a></center>

			</div>

    </div>

	</div>
  <div ng-include="'easy-store/views/partials/suscribe.html'"></div>
  <div ng-include="'easy-store/views/partials/reasons.html'"></div>

</div>
