global-reset()

*
	box-sizing border-box
	font-family inherit

html
body
	background $color-fondo
	font-family 'Open Sans', sans-serif
	font-size 16px
	font-weight 300
	height 100%

.wrap
	min-height 100%
	
.main-footer
	min-height $alto-footer
	margin-top -($alto-footer)

.push-footer
	height $alto-footer

.container
	margin 0 auto
	max-width 72rem
	width 100%

.align-left
	text-align left
.align-center
	text-align center
.align-right
	text-align right
	
.pull-right
	float right
.pull-left
	float left