.login_css{
   background: #fff;
    border-color: #ccc;
    border-radius: 3px;
    border-style: none;
    border-width: 2px;
    height: 750px;
    width: 750px;
    margin: 0 auto;
    margin-top: 60px;
    max-width: 90%;
    max-height: 100%;
    min-width: 750px;
    padding: 10px 50px 0 50px;

}

.login_css2{
   background: #fff;
    border-color: #ccc;
    border-radius: 3px;
    border-style: none;
    border-width: 2px;
    height: 400px;
    width: 750px;
    margin: 0 auto;
    margin-top: 60px;
    max-width: 90%;
    max-height: 100%;
    min-width: 750px;
    padding: 10px 50px 0 50px;

}

.superior {
    text-align: center;
}

.btn {
    margin: 0 auto;
}
.control-label{
    text-align: right;
}
input-group-btn{
    align-content: center;
}



.login_iniciar{
   background: #fff;
    border-color: #ccc;
    border-radius: 3px;
    border-style: none;
    border-width: 2px;
    height: 550px;
    width: 700px;
    margin: 0 auto;
    margin-top: 60px;
    max-width: 90%;
    max-height: 100%;
    padding: 50px 50px 0 50px;

}

.facebook{
    padding-right: 10px;
    margin-left: 280px;
}

.facebook2{
    padding-right: 110px;
    margin-left: 215px;
}

.icono1{
  transform: scale(2,2);
    position: absolute;
    right: 32%;
    top: 1%;
}

.icono2{
  transform: scale(2,2);
    position: absolute;
    right: 32%;
    top: 1%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 34%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 55px;
    font-weight: 900;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.btnregistro{
  position: relative !important;
  left: 15% !important;
  height: 47px !important;
}
