/*Strip the ul of padding and list styling*/
.ul {
	list-style-type:none;
	padding-left: 133px !important;
  margin-top: -50px!important;
	position: absolute;
	min-width: 82px;
    max-width: 100%;
}

/*Create a horizontal list with spacing*/
.li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
.li a {
	display:block;
	min-width:130px;
	height: 40px;
	text-align: center;
	line-height: 35px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	color: white;

  background-color: #00aeef;

	border-bottom: 3px solid #b7e4fa;
  border-left: 3px solid #b7e4fa;
  border-right: 3px solid #b7e4fa;
	border-top: 3px solid #b7e4fa;

  text-decoration: none;

}

/*Hover state for top level links*/
.li:hover a {
	background: #00b9f1;
	color: white;
}

/*Style for dropdown links*/
.li:hover .ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
.li:hover .ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
.li .ul {
	display: none;
}

/*Make dropdown links vertical*/
.li .ul .li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
.li .ul .li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
.ul .li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Open Sans", Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	.ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	.li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	.ul .li, .li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}


.nuevo{
		background-color: #00b9f1;
    border-bottom: 3px solid #b7e4fa;
    border-left: 3px solid #b7e4fa;
    border-right: 3px solid #b7e4fa;
    border-top: 3px solid #b7e4fa;
    color: #00b9f1;
    height: 35px;
    width: 105px;
		border-radius: 18px;
    display: block;
    text-align: center;
    line-height: 30px;
		margin-top: -39px;
		font-size: 16px;
}
.vine{
	background: #fff url("pre.png") 0 2px no-repeat;
	padding: 0px 0 5px 10px;
}

.img-publicacion{
	display: block;
    max-width: 100%;
    height: 245px;
    width: 278px;
    margin-left: auto;
    margin-right: auto;
}
