/** Real Estate
 **************************************************************** **/
/* slider caption */
.drop-box {
  border-radius: 8px;
  border: #e6e6e6 4px dashed;
  color: #a6a6a6;
  cursor: pointer;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}
.new-image {
  color: #1FBB00;
  position: relative;
}
.new-image i.fa {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
}

.item-box.item-box-round {
	border-radius: 50%;
	height: 156px;
	width: 156px;
}
.item-box.item-box-round .item-hover {
	border-radius: 50%;
	transition: none;
}
.item-box.item-box-round .inner {
	text-shadow: 2px 2px rgba(0,0,0,.5);
}
.item-box-round img {
	width: 100%;
	height: 100%
}

.realestate-caption {
	background-color:rgba(255,255,255,0.9);
	padding:20px;
}
.realestate-caption h4 {
	color:#333 !important;
	margin:0 !important;
}
.realestate-caption p {
	background-color:transparent !important;
	padding:10px 0 0 0 !important;
	color:#888 !important;
}
.realestate-caption .price {
	display:block;
	color:#f07057 !important;
	font-size:28px;
	font-weight:bold;
	padding:10px 0 0 0 !important;
}
.realestate-caption .price-old {
	color:#999 !important;
	text-decoration:line-through;
	font-size:20px;
	font-weight:300;
}
#slider .image-caption .inner .btn.view-more {
	font-size:13px;
	margin-top:0;
}

/*
	@FILTER BOX
	- search -
*/
.re-filterbox {
	background-color:#fff;
	padding:30px 20px;
	display:block;
	margin-bottom:60px;
}
.re-filterbox.no-top {
	margin-top:-100px;
	position:relative;
	z-index:150;
	border:#F3F4F6 10px solid;

	-webkit-border-radius: 16px;
	   -moz-border-radius: 16px;
			border-radius: 16px;
}

.item-box h4 {
	font-size:16px;
	line-height:23px;
}

.item-box small {
	font-size:16px;
	font-weight:800;
}

/* custom form */
#re-filter .form-control {
	height:40px;
	line-height:40px;
	padding:6px;
  font-size: 18px;
}

#re-filter select {
	cursor:pointer;
}

/* icons */
.bed-ico {
	background:url('../images/icon/realestate/small/bed-ico.png') no-repeat;
	display:inline-block;
	width:16px; height:16px;
}
.furnished-ico {
	background:url('../images/icon/realestate/small/furnished-ico.png') no-repeat;
	display:inline-block;
	width:16px; height:16px;
}
.garage-ico {
	background:url('../images/icon/realestate/small/garage-ico.png') no-repeat;
	display:inline-block;
	width:16px; height:16px;
}
.home-ico {
	background:url('../images/icon/realestate/small/home-ico.png') no-repeat;
	display:inline-block;
	width:16px; height:16px;
}

figure.agent-figure.pull-left {
	margin-right:30px;
}
figure.agent-figure.pull-right {
	margin-left:30px;
}



/** Responsive
 **************************************************************** **/
@media only screen and (max-width: 768px) {
	#slider .image-caption .inner .btn.view-more {
		float:none !important;
		margin-top:10px;
	}
}

@media only screen and (max-width: 479px) {

}
