.rss {
   margin: 0;
   padding: 0;
   list-style-type: none;
}
.rss li {
   background: #fff url("pre.png") 0 2px no-repeat;
   padding: 0px 0 10px 28px;
}
.linea{
height: 2px;
width: 100%;
margin-top: -8px;
margin-bottom: 15px;
background-color: #fdeec3;
}

.lineaP{
height: 2px;
width: 100%;
margin-top: -15px;
margin-bottom: 15px;
background-color: #fdeec3;
}

.tituloP{
  font-weight: 500;
}

.ancho{
  padding-left: 33px;
  max-width: 100%;
  width: 100%;

}


.img {
    margin: 25px;
    opacity: 0.9;
    border: 10px solid #eee;
/*    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));*/
}

.img:hover {
    opacity: 1;
  /*  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));*/
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}


#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

#boxes #dialog {
  width: 750px;
  height: 300px;
  padding: 10px;
  background-color: #ffffff;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
}

#popupfoot {
  font-size: 16pt;
  position: absolute;
  bottom: 0px;
  width: 250px;
  left: 250px;
}

.flotante {
    display:scroll;
    position:fixed;
    z-index:10;
    bottom: 0px;
    left: 0px;
}
