.main-contend
	min-height 2rem
.aside-contend
	min-height 2rem
	
.section-title
	color $fuente-header
	font-size 1.6rem
	font-weight 300
	margin 1.5rem auto 1rem auto
	padding-left 1rem
	.fa
		margin-right .5rem
	strong
		color #2E363F
		font-weight 700
hr
	border none
	border-bottom 1px solid lighten($fuente-header,50%)
	display block
	height 0
	margin-bottom 1rem
	width 100%
	
.home-article
	font-size 1rem
	margin 1rem
	img
		background-color $color-logo-secundario
		border-radius .5rem .5rem 0 0
.home-article-contend
	background-color white
	border-radius 0 0 .5rem .5rem
	padding 1rem
.title-article
	font-size 1.125rem
	font-weight 400
	margin-bottom .5rem
.price-article
	color $color-logo-terciario
	display block
	font-weight 600
	margin-bottom 1rem
.text-article
	color $fuente-header
	display block
	font-size .9rem
	margin-top .5rem
.article-contend	
	padding 0 1rem
	p
		font-size .9rem
.home-article-link
	color #000
	display block
	height 100%
	overflow hidden
	position absolute
	text-decoration none
	width 100%
	span
		background-color rgba(red($color-logo-terciario),green($color-logo-terciario),blue($color-logo-terciario), 50%)
		border-radius .5rem .5rem 0 0
		color white
		font-size 2rem
		height 100%
		position absolute
		text-align center
		transition top .5s ease
		width 100%
		top 100%
		z-index 100
		i.fa
			display block
			margin-top 20%
	&:hover
		span
			top 0
	&.image-square
		img
		span
			border-radius 0
.subsection-title
	color $color-logo-primario
	font-size 1rem
	font-weight 600
	margin-bottom 1rem
.section-container
	background-color white
	display block
	margin-top 1.75rem
	padding 1rem
	width 100%
.section-text
	color $fuente-header
	font-size 1rem
	font-weight 300
	margin 1.5rem auto 1rem auto
.responsive-container
	display block
	height 0
	position relative
	width 100%
	img
	iframe
	object
	video
	embed
		border none
		height 100%
		left 0
		position absolute
		top 0
		width 100%		
.responsive4by3
	padding-bottom 75%
.responsive16by9
	padding-bottom 56.25%
.responsive1by1
	padding-bottom 100%
.suscribe-container
	background-color lighten($fuente-header, 50%)
	border 3px solid lighten($fuente-header, 47%)
	border-radius 1rem
	padding 1rem
	.section-title
		margin-top 2rem
.section-icon
	background-color $color-logo-terciario
	border-radius 50%
	color white
	font-size 2rem
	height 4rem
	line-height 200%
	margin .5rem auto 1rem auto
	width 4rem
.section-subtitle
	font-size 1rem
	font-weight 400
.redes-sociales
	display block
	margin-bottom 2rem
	text-align center
	width 100%
.list-redes
	background-color $fuente-header
	display inline-block
	margin-right .25rem
.facebook
	&:hover
		background-color #3b5997
.twitter
	&:hover
		background-color #41b7d8
.google-plus
	&:hover
		background-color #d64937
.linkedin
	&:hover
		background-color #0073b2
.pinterest
	&:hover
		background-color #cb2027
.flickr
	&:hover
		background-color #ff0084
.link-redes
	color white
	display block
	font-size 1.5rem
	min-width 2.5rem
	padding .5rem
	text-align center
	text-decoration none	