.main-footer
	background-color $color-footer
	clearfix()
	color $color-funte-footer
	padding 2rem 0
.footer-copyright
.footer-section
	font-size 1rem

.footer-section
	float left
	margin-top 2rem
	padding-right 1rem
	vertical-align top
	hr
		border-bottom 1px dashed darken($color-funte-footer, 55%)
	h3
		color white
		font-size 1.3rem
		letter-spacing -1px
		margin-bottom 1.5rem
	p
		margin-bottom 1rem
		i
			color lighten($color-funte-footer, 25%)
			float left
			margin-top -.5rem
			text-align center			
			width 3rem
	span
		display block
		margin-bottom .5rem
	a
		color white
		display block
		text-decoration none
		&:hover
			text-decoration underline
