.form-control
	border 3px solid lighten($color-borde-header, 10%)
	border-radius .5rem
	display inline-block
	padding .75rem .5rem
	font-size .9rem
	resize none	
select.form-control
	cursor pointer
.form-label
	color $fuente-header
	display block
	font-size 1rem
	margin-bottom .5rem
.form-group
	display block
	margin-bottom 1rem
	width 100%
.form-input-group
	display block
	width 100%
	.form-control
	.btn
		border-radius 0
	.form-control:first-child
	.btn:first-child
		border-radius .5rem 0 0 .5rem
		border-right none
	.form-control:last-child
	.btn:last-child
		border-radius 0 .5rem .5rem 0
		border-left none

.btn
	background-color $color-borde-header
	border 3px solid darken($color-borde-header, 10%)
	border-radius .5rem
	cursor pointer
	display inline-block
	padding .75rem
	text-decoration none
	&:hover
		background-color darken($color-borde-header, 5%)
		border 3px solid darken($color-borde-header, 15%)
	&:disabled
		background-color $color-borde-header
		border 3px solid darken($color-borde-header, 10%)
		color darken($color-borde-header, 10%)
.btn-submit
	background-color $color-logo-primario
	border 3px solid darken($color-logo-primario, 10%)
	color white
	&:hover
		background-color darken($color-logo-primario, 5%)
		border 3px solid darken($color-logo-primario, 15%)
.btn-error
	background-color $color-logo-terciario
	border 3px solid darken($color-logo-terciario, 10%)
	color white
	&:hover
		background-color darken($color-logo-terciario, 5%)
		border 3px solid darken($color-logo-terciario, 15%)
.btn-danger
	background-color $color-logo-secundario
	border 3px solid darken($color-logo-secundario, 10%)
	color white
	&:hover
		background-color darken($color-logo-secundario, 5%)
		border 3px solid darken($color-logo-secundario, 15%)
.control-full-width
	width 100%