.row
	clearfix()
	display block
	font-size inherit
	width 100%

[class*="col-"]
	float left
	box-sizing border-box
	width 100%

.col-ds-1
	width 25%
.col-ds-2
	width 50%
.col-ds-3
	width 100%
.col-ds-4
	width 100%

@media screen and (min-width: 50rem)
	.col-ds-4
		width 50%
	.col-ds-6
		width 50%
	.col-ds-8
		width 100%

@media screen and (min-width: 64rem)
	.col-ds-1
		width (100%/12)
	.col-ds-2
		width (2*100%/12)
	.col-ds-3
		width (3*100%/12)
	.col-ds-4
		width (4*100%/12)
	.col-ds-5
		width (5*100%/12)
	.col-ds-6
		width (6*100%/12)
	.col-ds-7
		width (7*100%/12)
	.col-ds-8
		width (8*100%/12)
	.col-ds-9
		width (9*100%/12)
	.col-ds-10
		width (10*100%/12)
	.col-ds-11
		width (11*100%/12)
	.col-ds-12
		width (12*100%/12)
