.main-header
	background-color white
	border-bottom 1px solid $color-borde-header
	box-shadow 0 2px 4px rgba(204,204,204,50%)
	display block
	height 75px
	position fixed
	z-index 999
	width 100%

.shadow-header
	background url('../images/header_shadow.png') 50% 0 no-repeat
	display block
	height 75px
	position relative
	top 75px
	width 100%
	z-index 99

.main-title
	background-image url('../images/logo.png')
	background-repeat no-repeat
	background-size contain
	display inline-block
	height 3.5rem
	hide-text()
	margin-top .5rem
	vertical-align middle
	width 228px

.main-menu
	display inline-block
	font-size 1rem
	float right
	margin-top 1.75rem
	vertical-align middle

.menu-list
	display block
.menu-item
	display inline-block
	margin-right 
.menu-link
	color $fuente-header
	padding 1rem
	text-decoration none