.info-list
  color $fuente-header
  margin-right 1rem
  margin-top -2rem
.article-info
  padding-left 1rem
  
.paginator
  background-color white
  color $color-logo-primario
  display block
.paginator-list
  display block
  clearfix()
.paginator-item
  display block
  float left
.paginator-link
  color inherit
  cursor pointer
  display block
  font-size .9rem
  font-weight 600
  padding .75rem
  text-decoration none
.paginator-active
  background-color $color-logo-primario
  color white