.search
	background $color-fondo
	border-radius 1rem 1rem 0 0
	padding 1rem
	position relative
	margin-top -2rem
	
.search-form
	background-color white
	border-radius .75rem
	font-size 0
	padding 1rem
	legend
		color $fuente-header
		font-size 1.5rem
		font-weight 600
		text-indent .5rem

.search-container
	display inline-block
	padding .5rem
	vertical-align middle
	&:last-child
		.search-control
			border-radius .5rem 0 0 .5rem
			width 75%
		.btn-search
			border-radius 0 .5rem .5rem 0
			padding .75rem .5rem
			width 25%
.search-control
	display inline-block
	vertical-align middle
	width 100%
.btn-search
	background-color $color-logo-primario
	color white
	display inline-block
	vertical-align middle
	width 100%
	