<section class="login_css">
  
<br>
  <div ><img class="imagenlogo col-md-12" src="./assets/images/logo.png" style="width:236px;height:70px" ></div>  
  <br>
	<div class="row"><h3 class="superior col-sm-7"><center>Recuperación de contraseña</center></h3></div>
  <br>
  <div class="row align-self-start">Escribe tu correo electrónico y enviaremos las instrucciones para recuperar su contraseña </div>       
  <br>
  <form ng-submit="vm.EnviarCorreo()" method="post" role="form">
    <div class="form-group">
      <label for="email" class ="control-label col-sm-4">Correo</label>
        <div class="col-sm-7">
          <input type="email" class="form-control control-full-width" placeholder="Ingrese su correo" ng-model="vm.emailusuario" required>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
          <center>
            <button  type="submit" class="btn btn-primary" >Recuperar contraseña</button>
          </center>
        </div>        
    </div>
  
  </form>
        

</section>
