<div class="dialog-contents">
  <h3 class="page-header nomargin-top">
    <a href="#" data-toggle="tooltip" title="Ver más"><i class="fa fa-envelope"></i></a>
    <strong class="styleColor">Contactanos</strong>
  </h3>
  <form name="frmContactUs" novalidate ng-submit="SendMessage()">
    <div class="form-group">
      <input
        type="text"
        class="form-control control-full-width"
        placeholder="Tu Nombre"
        ng-model="contactForm.Nombre"
        required>
    </div>
    <div class="form-group">
      <input
        type="email"
        class="form-control control-full-width"
        placeholder="Tu Correo"
        ng-model="contactForm.Correo"
        required>
    </div>
    <div class="form-group">
      <textarea
        name=""
        cols="30"
        rows="10"
        class="form-control control-full-width"
        placeholder="Tu Mensaje"
        ng-model="contactForm.Mensaje"
        required></textarea>
    </div>
    <button
      type="submit"
      class="btn btn-primary pull-right"
      ng-disabled="frmContactUs.$invalid">Enviar Mensaje</button>
    <br><br>
  </form>
</div>
