<br><br><br><br>
<div class="container">
  <div ng-include="'angular/views/partials/search-form.html'"></div>
  <div class="row">
    <div class="col-md-12">

      <div class="white-row">

        <h3 class="tituloP">PQRS</h3>
        <div class="lineaP"></div>
          <div class="row">
          <div class="col-md-7">
            <br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.922102507338!2d-77.28104798542753!3d1.2144397991142073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2ed4843b962d11%3A0xc8a238df423fb217!2sGrupo+Prevenir+Express!5e0!3m2!1ses!2sco!4v1490996413461" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

          </div>
          <div class="col-md-5">
            <br>
            <h3 class="tituloP">Nuestras Sedes</h3>
            <div class="lineaP"></div>
              <address class="font-opensans">
            <ul>
                <li style="list-style:none">
                    C. Comercial Los Andes. Local 214<br />
                    Calle 18 No. 24-29 Parque Nariño<br />
                    Pasto - Nariño
                </li>
               <li style="list-style:none">
                    Telefonos: (2) 7209417</br>
                    <a href="call:+573104351937"> +57 310 435 1937</a>  y
                    <a href="call:+573172645522"> +57 317 264 5522</a>
                </li>
                <li style="list-style:none">
                    <a href="mailto:usuariosprevenir@hotmail.com">usuariosprevenir@hotmail.com</a>
                </li>
            </ul>
            </address>
            <address class="font-opensans">
                <ul>
                    <li style="list-style:none">
                        C. Comercial Rodrival. Local 19<br />
                        Cra. 7 No. 6-41 <br />
                        Popayan - Cauca.

                    </li>
                    <li style="list-style:none">
                         Telefonos: (2) 7209417</br>
                    <a href="call:+573104351937"> +57 310 435 1937</a>  y
                    <a href="call:+573172645522"> +57 317 264 5522</a>
                    </li>
                    <li style="list-style:none">
                        <a href="mailto:prevenirpopayan@hotmail.com">prevenirpopayan@hotmail.com</a>
                    </li>
                </ul>
            </address>
            <address class="font-opensans">
                <ul>
                    <li style="list-style:none">
                        Centro Empresarial Saya. Local 204<br />
                        Cra. 8 No. 5-70 Altos de Prevenir<br />
                        Mocoa - Putumayo

                    </li>
                    <li style="list-style:none">
                         Telefonos: (2) 7209417</br>
                    <a href="call:+573104351937"> +57 310 435 1937</a>  y
                    <a href="call:+573172645522"> +57 317 264 5522</a>
                    </li>
                    <li style="list-style:none">
                        <a href="mailto:prevenirpopayan@hotmail.com">prevenirpopayan@hotmail.com</a>
                    </li>
                </ul>
            </address>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <br>
            <h3 class="tituloP">Envíenos un mensaje de tipo Petición Queja, Reclamos y Sugerencias</h3>
            <div class="lineaP"></div>
          <form name="frmContactUs" novalidate ng-submit="vm.SendContactenosMail()">
            <div class="form-group">
              <label class="checkbox-inline">
                <input
                type="radio"
                name="PQRD"
                ng-model="vm.contactForm.PQRD.P">
                Peticion
              </label>
              <label class="checkbox-inline">
                <input
                type="radio"
                name="PQRD"
                ng-model="vm.contactForm.PQRD.Q">
                Queja
              </label>
              <label class="checkbox-inline">
                <input
                type="radio"
                name="PQRD"
                ng-model="vm.contactForm.PQRD.R">
                Reclamo
              </label>
              <label class="checkbox-inline">
                <input
                type="radio"
                name="PQRD"
                ng-model="vm.contactForm.PQRD.D">
                Sugerencia
              </label>
               <label class="checkbox-inline">
                <input
                type="radio"
                name="PQRD"
                ng-model="vm.contactForm.PQRD.D">
                Solicitudes
              </label>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control control-full-width"
                placeholder="Tu Nombre"
                ng-model="vm.contactForm.Name"
                required>
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control control-full-width"
                placeholder="Tu Correo"
                ng-model="vm.contactForm.Email"
                required>
            </div>
            <div class="form-group">
              <textarea
                name=""
                cols="30"
                rows="10"
                class="form-control control-full-width"
                placeholder="Tu Mensaje"
                ng-model="vm.contactForm.Message"
                required></textarea>
            </div>
            <button
              type="submit"
              class="btn btn-primary pull-right"
              ng-disabled="frmContactUs.$invalid">Enviar Mensaje</button>
            <br><br>
          </form>
        </div>
        <div class="col-md-5">
      <center>  <img style="padding-top: 100px;width: 250px;" src="././assets/images/ms-icon-310x310.png" alt="" /></center>
        </div>

        </div>
      </div>




    </div>

  </div>
  <div ng-include="'easy-store/views/partials/suscribe.html'"></div>
  <div ng-include="'easy-store/views/partials/reasons.html'"></div>
</div>
