<div id="slider1_container" class="slides-container" data-options="{{ vm.options }}" style="position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px;
            height: 500px; overflow: hidden;">
        <div ng-repeat='slide in vm.images'
        	 enable-jssor jssor-options="vm.options"
        	 jssor-trigger="{{$last}}">
            <img u="image" src="{{ slide.image }}" />
            <div style="position: absolute; width: 480px; height: 120px; top: 30px; left: 30px; padding: 5px;
                text-align: left; line-height: 60px; text-transform: uppercase; font-size: 50px;
                    color: #FFFFFF;text-shadow: 2px 2px 4px rgba(0,0,0,.75)">{{ slide.title }}
            </div>
            <div style="position: absolute; width: 480px; height: 120px; top: 300px; left: 30px; padding: 5px;
                text-align: left; line-height: 36px; font-size: 30px;
                    color: #FFFFFF;text-shadow: 2px 2px 4px rgba(0,0,0,.75)">
                    {{ slide.description }}
            </div>
            <img src="{{ slide.logo }}" style="position: absolute; bottom: 80px; right: 30px; padding: 5px;">
        </div>
    </div>
	<div u="navigator" class="jssorb21" style="bottom: 46px; right: 6px;">
		<!-- bullet navigator item prototype -->
		<div u="prototype"></div>
	</div>
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
    </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
    </span>
    <!--#endregion Arrow Navigator Skin End -->
</div>

<div ng-include="'easy-store/views/partials/search-form.html'"></div>

<section class="container">


<div class="white-row">

  <div class="row">
    <div class="col-md-12">
      <iframe width="100%" height="550px" src="https://www.youtube.com/embed/flgxrK12UbA?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
	<div class="row">
		<div class="col-md-9">

      <div class="white-row">
            <center><img  src="././assets/images/nuevas/bannerlineas@2x.png" style="width:100%" max-width="100%"; min-width="100%";></center>

      </div>

      <div class="white-row">
      <h3 class="page-header nomargin-top">
        <a href="realestate-list.html" data-toggle="tooltip" title="Ver más"><i class="fa fa-plus-square-o"></i></a>

         <strong class="styleColor">Últimas Publicaciones</strong>
      </h3>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="val in vm.lastPublications">
          <div class="item-box">
            <figure>
              <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-plus fsize20"></span>
                  <strong>Ver más</strong>
                </span>
              </a>
              <img alt="{{ val.Nombre }}" class="img-responsive" ng-src="{{ val.Imagens[0].RutaGrande }}" width="409" height="271" />
            </figure>
            <div class="item-box-desc">
              <h4>{{ val.Nombre }}</h4>
              <small ng-if="val.PorcentajePromo!=0">Descuento: {{ val.PorcentajePromo }}%</small>
              <small ng-if="val.PorcentajePromo==0">Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }}</small>
              <p>{{ val.DescripcionCorta }}</p>
              <!--p>
                <span class="fsize12 pull-right">
                  <i class="bed-ico" title="beds"></i> 3 ,
                  <i class="garage-ico" title="garage"></i> 1 ,
                  <i class="furnished-ico" title="furnished"></i>
                </span>

                <i class="home-ico"></i> 300m<sup>2</sup>
              </p-->
            </div>
          </div>
				</div>
			</div>

      <h3 class="page-header nomargin-top">
        <a href="realestate-list.html" data-toggle="tooltip" title="Ver más"><i class="fa fa-plus-square-o"></i></a>
         <strong class="styleColor">Más Visitadas</strong>
      </h3>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="val in vm.mostViewed">
          <div class="item-box">
            <figure>
              <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-plus fsize20"></span>
                  <strong>Ver más</strong>
                </span>
              </a>
              <img alt="{{ val.Nombre }}" class="img-responsive" ng-src="{{ val.Imagens[0].RutaGrande }}" width="409" height="271" />
            </figure>
            <div class="item-box-desc">
              <h4>{{ val.Nombre }}</h4>
              <small ng-if="val.PorcentajePromo!=0">Descuento {{ val.PorcentajePromo }}%</small>
              <small ng-if="val.PorcentajePromo==0">Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }}</small>
              <p>{{ val.DescripcionCorta }}</p>
              <!--p>
                <span class="fsize12 pull-right">
                  <i class="bed-ico" title="beds"></i> 3 ,
                  <i class="garage-ico" title="garage"></i> 1 ,
                  <i class="furnished-ico" title="furnished"></i>
                </span>

                <i class="home-ico"></i> 300m<sup>2</sup>
              </p-->
            </div>
          </div>
        </div>
			</div>
		</div>
  </div>
		<div class="col-md-3">

      <h3 class="page-header nomargin-top margin-bottom40">

        <img style="width:100%" src="./assets/images/nuevas/gifapp.gif"/>
        <h3 class="page-header nomargin-top margin-bottom40">
           <strong class="styleColor">Descarga tu Carnet</strong>
        </h3>
         
      </h3>
      <div class="row">
        <div class="white-row">
        <div><center><a href="./assets/documentos/carnet1.jpeg" download="Carnet 1"><img style="width:100%" src="./assets/documentos/carnet1.jpeg"/></a></center></div>
      </div>

      <div class="white-row">
      <div><a href="./assets/documentos/carnet2.jpeg" download="Carnet 2"><img style="width:100%" src="./assets/documentos/carnet2.jpeg"/></a></div>
    </div>

      </div>

      <h3 class="page-header nomargin-top margin-bottom40">
         <strong class="styleColor">Más Populares</strong>
      </h3>
			<div class="row">
				<div ng-repeat="val in vm.mostPopulars">
          <!-- No #1 Hot -->
          <div class="item-box nomargin-top" ng-show="$index < 2">
            <figure>
              <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-plus fsize20"></span>
                  <strong>Ver más</strong>
                </span>
              </a>
              <img alt="{{ val.Nombre }}" class="img-responsive" ng-src="{{ val.Imagens[0].RutaGrande }}" />
            </figure>
            <div class="item-box-desc">
              <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
              <small ng-if="val.PorcentajePromo!=0" class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
              <small ng-if="val.PorcentajePromo==0" class="font300 text-center block" ng-if="val.PorcentajePromo==0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
            </div>
          </div>

        </div>



      </div>





      <div class="row">

          <h3 class="page-header">
            <i class="fa fa-twitter"></i>
            <strong class="styleColor">Últimos Tweets</strong>
          </h3>
          <center><a class="twitter-timeline" data-width="500" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>


          <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>

      </div>
  </div>
	</div>
	<div ng-include="'easy-store/views/partials/suscribe.html'"></div>
	<div ng-include="'easy-store/views/partials/reasons.html'"></div>

</section>
<br><br><br>
