 <section class="login_iniciar">
            <img class=" superior col-sm-4" src="./assets/images/logo.png">
            <br>
		    <h3 class="superior col-sm-7">Ingresar</h3>

		  <hr>
      <div class="form-group">
        <button class="btn-facebook facebook2 radius3" ng-click="vm.FBLogin()">
          <i class="fa fa-facebook"></i> Conectate con Facebook
       </button>
</div>
<br>
		<form ng-submit="vm.Login()" method="post" role="form">

    <div class="form-group">
      <label for="name" class ="control-label col-sm-4">Correo</label>
      <div class="col-sm-7">
      <input type="email" class="form-control control-full-width" placeholder="Ingrese su correo" ng-model="vm.usuario.Correo" required>
        </div>
    </div>
    <br>
    <div class="form-group">
      <label for="address" class ="control-label col-sm-4">Contraseña</label>
	<div class="col-sm-7">
      <input type="password" class="form-control control-full-width" placeholder="Ingrese su contraseña" ng-model="vm.usuario.Clave" required>
        </div>
    </div>
    <br>
    <span class="input-group-btn">
    <center>
    <button type="submit" class="btn btn-primary" ng-click="">Iniciar Sesi&oacute;n</button>
    </center>
    </span>

    <div align="right">
    <a type="submit" class="item-hover" href="#/usuario/contrasena"> Recordar contraseña</a>
    </div>
  </form>


  </section>
