<div class="dialog-contents">
  <h3 class="page-header nomargin-top">
    <a href="#" data-toggle="tooltip" title="Ver más"><i class="fa fa-lock"></i></a>
     <strong class="styleColor">Inicio de Sesi&oacute;n</strong>
  </h3>

  <form name="frmContactUs" novalidate ng-submit="SendMessage()">
    <div class="form-group">
      <input
        type="email"
        class="form-control control-full-width"
        placeholder="Tu Correo"
        ng-model="contactForm.Nombre"
        required>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control control-full-width"
        placeholder="Tu Contraseña"
        ng-model="contactForm.Correo"
        required>
    </div>
    <button
      type="submit"
      class="btn btn-primary fullwidth radius3"
      ng-click="SendMessage()"
      ng-disabled="frmContactUs.$invalid">Iniciar session</button>
    <div class="clearfix"></div>
    <hr>
    <button
      type="button"
      class="btn-facebook fullwidth radius3"
      ng-click="main.FBLogin()"><i class="fa fa-facebook"></i>Conectate con Facebook</button>

  </form>
</div>

<!-- social fa fa-facebook -->
