<section class="login_css2">
  
<br>
  <div ><img class="imagenlogo col-md-12" src="./assets/images/logo.png" style="width:236px;height:70px" ></div>  
  <br>
	<div class="row"><h3 class="superior col-sm-7"><center>Nueva contraseña</center></h3></div>
  <br>
  <div class="row align-self-start">Escribe tu nueva contraseña por favor: </div>       
  <br>
  <form ng-submit="vm.ChangePassword()" method="post" role="form">
    <div class="form-group">
      <label class ="control-label col-sm-4">Nueva contraseña:</label>
        <div class="col-sm-7">
          <input type="password" class="form-control control-full-width" placeholder="Escriba nueva contraseña" ng-model="vm.contrasena1" required>
        </div>
    </div>

    <div class="form-group">
      <label  class ="control-label col-sm-4">Repita la contraseña:</label>
        <div class="col-sm-7">
          <input type="password" class="form-control control-full-width" placeholder="Confirme su contraseña" ng-model="vm.contrasena2" required>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
          <center>
            <button  type="submit" class="btn btn-primary" >Guardar</button>
          </center>
        </div>        
    </div>
  
  </form>
        

</section>