    <div class="container"  ng-controller="ContactUsController as main">
      <a class='flotante' ng-if="main.userLogged==false" href='#/usuario/registro'><img style='width:200px' src='././assets/images/boton_regristro.png' id="#forward" border="0"/></a>
    </div>
<div id="boxes">
  <div id="dialog" class="window">
    Your Content Goes Here
    <div id="popupfoot"> <a href="#" class="close agree">I agree</a> | <a class="agree"style="color:red;" href="#">I do not agree</a> </div>
  </div>
  <div id="mask"></div>
</div>

<div id="slider1_container" class="slides-container" data-options="{{ vm.options }}" style="position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">



    <!-- Slides Container -->
<div class="row">
    <div class="col-md-9">
    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1000px;
            height: 500px; overflow: hidden;">
        <div ng-repeat='slide in vm.images'
        	 enable-jssor jssor-options="vm.options"
        	 jssor-trigger="{{$last}}">
            <img u="image" src="{{ slide.image }}" />
            <div style="position: absolute; width: 480px; height: 120px; top: 30px; left: 30px; padding: 5px;
                text-align: left; line-height: 60px; text-transform: uppercase; font-size: 50px;
                    color: #FFFFFF;text-shadow: 2px 2px 4px rgba(0,0,0,.75)">{{ slide.title }}
            </div>
           <div style="position: absolute; width: 480px; height: 120px; top: 300px; left: 30px; padding: 5px;
                text-align: left; line-height: 36px; font-size: 30px;
                    color: #FFFFFF;text-shadow: 2px 2px 4px rgba(0,0,0,.75)">
                    {{ slide.description }}
            </div>
            <img src="{{ slide.logo }}" style="position: absolute; bottom: 80px; right: 30px; padding: 5px;">
        </div>
    </div>
</div>
  <div class="col-md-3">
<a href="#/plan2"><center><img  src="././assets/images/nuevas/GifLíneasFunenrarias.gif" style="width:270px; height:500px;" max-width="100%"; min-width="100%";></center></a>


  </div>
</div>

	<div u="navigator" class="jssorb21" style="bottom: 46px; right: 6px;">
		<!-- bullet navigator item prototype -->
		<div u="prototype"></div>
	</div>
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
    </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
    </span>
    <!--#endregion Arrow Navigator Skin End -->
</div>


</br>

  <div class="row">
    <div class="col-md-9">
      <section class="container ancho">


<div class="white-row">

  <div class="row">
    <div class="col-md-12">
      <iframe width="100%" height="550px" src="https://www.youtube.com/embed/flgxrK12UbA?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>


  <div class="white-row">

  <div class="row">
    <div class="col-md-6">
        <img style="width:100%" src="././assets/images/1920/madres.jpg">
      </div>

      <div class="col-md-6">
        <!-- Trigger the modal with a button -->
        <div style="width:81%;">
          <h2>¿Porqué nos Prefieren?</h2>
          <div class="linea">
          </div>
          <p>
            Agrupamos y brindamos soluciones que faciliten y agilicen la toma de decisiones importantes de nuestros afiliados a través de una red de servicios fundamentada en principios de Honestidad y Transparencia Conscientes del valor supremo de las personas</p>
          </div>
          <br>
          <button type="button" style="background-color:#00b9f1" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Conocé el porque?</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="margin-left: -250px; position: relative; margin-top: 30px;width: 1140px;">

              <div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 class="modal-title">&nbsp;</h4></center>
              </div>
              <div class="modal-body"style="z-index: 10;">
                <img src="././assets/images/nuevas/porquenosprefieren@2x.png" width="100%" >
              </div>
              
            </div>
          </div>
        </div>
</div>
</div>

<div class="white-row">

<div class="row">
  <div class="col-md-12">
             <a href="#/planes"><img src="././assets/images/precio.gif" width="100%"></a>
           </div>

</div>
</div>


  </div>
    <center><div class="col-md-3">

<a href="#/usuario/iniciar"><center><img  src="././assets/images/nuevas/Inscribete@2x.png" style=" height:350px;" max-width="100%"; min-width="100%";></center></a>
<br>
<img  src="././assets/images/nuevas/gifapp.gif" style="width:270px; height:500px;" max-width="100%"; min-width="100%";>

      <h3 class="page-header">
        <i class="fa fa-twitter"></i>
         <strong class="styleColor">Ultimos Tweets</strong>
      </h3>
  <a class="twitter-timeline" data-width="400" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
    </div></center>

  </div>



<div ng-include="'easy-store/views/partials/suscribe.html'"></div>
<div ng-include="'easy-store/views/partials/reasons.html'"></div>

</section>
