<section class="login_css">
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" ng-click="vm.closeAlert()">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
  </div>

  <div id="myModal1" class="modal">
    <div class="modal-content">
      <span class="close" ng-click="vm.closeAlert()">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
  </div>

            <img class=" superior col-sm-4" src="./assets/images/logo.png">
            <br>
		    <h3 class="superior col-sm-7">Regístrese con nosotros</h3>
		  <hr>
  <div id="formularioImgs">
  <br>
          <center>
          <div class="col-md-6 login-buttons" >
            <i class="icono1 fa fa-question-circle" aria-hidden="true" ng-click="vm.showAlert()"></i>

            <img src="./assets/images/consumidor.jpg" style="cursor:pointer" ng-click="vm.MostrarRegistro(false)"/> <br>

              <span>Haz clic aqui para registrarte como <br> Usuario</span>
            <div class="spacer" style="height: 20px;"></div>
          </div>
          <div class="col-md-6 login-buttons">
            <i class="icono2 fa fa-question-circle" aria-hidden="true" ng-click="vm.showAlert()"></i>

            <img src="./assets/images/proveedor.jpg" style="cursor:pointer" ng-click="vm.MostrarRegistro(true)"/><br>

            <span>Haz clic aqui para registrarte como <br> Proveedor</span>
            <div class="spacer" style="height: 10px;"></div>
          </div>

        </center>
        <br>
      <center>  <div class="col-md-12 login-buttons">
         <span>¿Ya tienes cuenta? <a href="#/usuario/iniciar" ng-click="vm.MostrarInicioSesion()">Inicia sesi&oacute;n</a></span></center>
       </div></center>

  </div>

  <div id="formulario" style="display:none">
    <div class="form-group">
  <div class="col-sm-12">
      <button class="btn-facebook facebook radius3" ng-click="vm.FBLogin()">
        <i class="fa fa-facebook"></i> Conectate con Facebook
     </button>
   </div>
   </div>
  <br>
  		  <form ng-submit="vm.SignUp()" method="post" role="form">
          <div class="form-group">
            <label for="email" class ="control-label col-sm-4">Correo</label>
            <div class="col-sm-7">
            <input type="email" class="form-control control-full-width" placeholder="Ingrese su correo" ng-model="vm.usuario.Correo" required>
              </div>
          </div>
          <br>
          <div class="form-group" id="nomCliente" style="display:none">
           <label for="name" class ="control-label col-sm-4 ">Nombre Completo</label>
            <div class="col-sm-7">
            <input type="text" class="form-control control-full-width" placeholder="Ingrese su nombre" ng-model="vm.usuario.Nombre" required>
              </div>
          </div>
          <div class="form-group" id="nomProveedor" style="display:none">
           <label for="name" class ="control-label col-sm-4 ">Nombre Empresa</label>
            <div class="col-sm-7">
            <input type="text" class="form-control control-full-width" placeholder="Ingrese el nombre de su empresa" ng-model="vm.usuario.Nombre" required>
              </div>
          </div>
          <br>
          <div class="form-group">
            <label for="address" class ="control-label col-sm-4">Contraseña</label>
      	     <div class="col-sm-7">
                <input type="password" class="form-control control-full-width" placeholder="Ingrese su contraseña" ng-model="vm.usuario.Clave" required>
             </div>
          </div>
          <div class="form-group">
            <label for="address" class ="control-label col-sm-4">Repita la contraseña</label>
             <div class="col-sm-7">
                <input type="password" class="form-control control-full-width" placeholder="Repita la contraseña" ng-model="vm.Clave2" required>
             </div>
          </div>

          <div class="form-group">
            <label for="address" class ="control-label col-sm-4">País</label>
        <div class="col-sm-7">
            <select name="selectPaises" id="selectPaises" ng-options="item.name for item in vm.paisesX track by item.id" ng-model="vm.paisSeleccionado">
     
          </select>
              </div>
          </div>

          

          <div class="col-sm-12" style="padding-bottom:10px;">
          <center><label for="condiciones">Acepta los <a href="./assets/documentos/condiciones.pdf " download="Terminos y Condiciones"> Terminos y Condiciones</a><br> de la política de protección  de datos según Ley 1581 del 2012 &nbsp; </label><input type="checkbox" ng-model="vm.terminos" name="condiciones" /></center>
          </div>

          <div class="col-sm-6">

        <center>  <button  type="submit" class="btn btn-primary" ng-click="" ng-disabled="!vm.terminos">Registrate</button></center>

        </div>
        </form>
        <div class="col-sm-6">
      <center>  <button  class="btn btn-primary" ng-click="vm.formularioImg()">Regresar</button></center>
        </div>

  </div>
</section>
