<br><br><br><br>
<div class="container">
  <div ng-include="'angular/views/partials/search-form.html'"></div>
	<div class="row">
		<div class="col-md-9">
      <img src="././assets/images/1920/familia.jpg" width="100%">
      <div class="white-row">

        <h3 class="tituloP">Quienes Somos</h3>
        <div class="lineaP">

        </div>

        <p class="section-text">Somos una corporación especializada en la coordinación de planes de Previsión Exequial individuales y masivos de las más prestigiosas empresas del sector público y privado.</p>
        <p class="section-text">Como valor agregado contamos con una red de médicos especialistas y profesionales en todas las áreas que nos posicionan como la empresa con más servicios agregados para nuestros afiliados y así convertirnos en la más importante y sólida compañía de previsión funeraria del país.</p>
        
      </div>

          <div class="white-row">
       <h3 class="tituloP">Visión</h3>
        <div class="lineaP">

        </div>

        <p class="section-text">Nuestra visión es que todo integrante de cada núcleo familiar este protegido con nuestro plan de previsión funeraria así dar tranquilidad a la familia en los momentos que más nos necesitan.</p>
      </div>

      <div class="white-row">
       <h3 class="tituloP">Misión</h3>
        <div class="lineaP">

        </div>

        <p class="section-text">Otorgarles a nuestros afiliados una experiencia tranquila en todo el proceso del duelo, con acompañamiento permanente profesional y ético consientes del valor supremo de las personas en los momentos que más nos necesitan.</p>
      </div>

	



      <div class="white-row">

        <h3 class="tituloP">Objetivos Grupo Prevenir Express SAS</h3>
         <div class="lineaP">

         </div>

        <p class="section-text">
       Proveer soluciones integrales que faciliten y agilicen la toma de decisiones importantes para nuestros afiliados en la adquisición de productos o servicios con los mejores especialistas en las diferentes categorías: Médicos, Veterinaria, jurídica y contable, Belleza y estética, servicios, formación y servicios en general con los más altos estándares responsabilidad.</p>
        <p class="section-text">Cumplimos con un objetivo social interesado en el mejoramiento de la calidad de vida de nuestros afiliados, mediante programas de promoción en diferentes áreas respaldado en la constitución política por el Artículo 333.</p>
        <ul class="rss">
          <li>Implementar día a día alianzas estratégicas que permitan satisfacer las necesidades básicas de nuestros Afiliados de una manera virtual y automatizada implementando la tecnología de punta para dicho fin.</li>
          <li>Trabajamos por generar frutos día a día, que nos permitan el manejo sostenible de la compañía para preservar la integridad y los beneficios de nuestros Afiliados.</li>
        </ul>

      </div>
      <div class="white-row">

        <h3 class="tituloP">Clientes Aliados</h3>
         <div class="lineaP">

         </div>
        
      <p>Prestigiosas compañías se encuentran vinculadas con nuestro servicio quienes han recibido atención completa y de primera y de primera categoría como las secretarias de educación de NARIÑO, CAUCA Y PUTUMAYO y secretaria de educación municipales PASTO, IPIALES, POPAYAN y fondos de empleados como FONDESSNAR, fondo de empleados del sector salud entre otros.</p>


      </div>

      <div class="white-row">

        <h3 class="tituloP">Infraestructura Aliada</h3>
         <div class="lineaP">

         </div>
        <ul class="rss">
          
          <li><h6>COBERTURA EN TODO EL PAIS:<h6><p>1.900 funerarias, con cementerios en temporales en todo el país y más de 5000 salas de velación a su disposición en convenio directo o con terceros para cumplir con lo prometido.</p></li>
        </ul>


      </div>

      <div class="white-row">

        <ul class="rss">
          <li>La protección es inmediata para el titular y su grupo familiar que estén en otro plan exequial, se les respeta el tiempo, cobertura, beneficios mejorando sus condiciones anteriores.</li>
          <li>Para los nuevos afiliados la protección es inmediata para el titular y 30 días de carencia para su grupo familiar.</li>
          <li>En ambos casos las personas beneficiarias con enfermedades terminales como: Cáncer o SIDA, una carencia de noventa días.</li>
        </ul>


      </div>
      <div class="white-row">
        <h3 class="tituloP">Categorías y servicios</h3>
         <div class="lineaP">

         </div>

        <ul class="rss">
          <li>Cubrimiento del 100% de los servicios funerarios y cementerios.</li>
          <li>Cubrimiento a nivel nacional sin límites perimetrales</li>
          <li>Carné informativo entregado en el momento de la vinculación.</li>
        </ul>


      </div>
		</div>
    <div ng-controller="ContactUsController as main">
      <div class="col-md-3" ng-if="!main.userLogged">
        <div class="row">
        <div class="white-row">
        <a href="#/usuario/iniciar"><center><img  src="././assets/images/nuevas/Inscribete@2x.png" style=" height:350px;" max-width="100%"; min-width="100%";></center></a>
      </div>
        </div>
        <div class="row">
          <div class="white-row">
            <h3 class="page-header">
              <i class="fa fa-twitter"></i>
              <strong class="styleColor">Últimos Tweets</strong>
            </h3>
            <center><a class="twitter-timeline" data-width="500" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
          </div>
          <div class="white-row">
            <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
          </div>
        </div>
      </div>
  <div class="col-md-3" ng-if="main.userLogged">
    <h3 class="page-header nomargin-top margin-bottom40">
       <strong class="styleColor">Más Populares</strong>
    </h3>
    <div class="row">
      <div ng-repeat="val in vm.mostPopulars">
        <!-- No #1 Hot -->
        <div class="item-box nomargin-top" ng-show="$index < 2">
          <figure>
            <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
              <span class="overlay color2"></span>
              <span class="inner">
                <span class="block fa fa-plus fsize20"></span>
                <strong>Ver más</strong>
              </span>
            </a>
            <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande}}" />
          </figure>
          <div class="item-box-desc">
            <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
            <small class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
            <small class="font300 text-center block" ng-if="val.PorcentajePromo)=0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
          </div>
        </div>
        <!-- /No #1 Hot -->

        <div class="col-xs-6 col-md-6" ng-show="$index >= 2">
          <a href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
            <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
            <h6 class="fsize12 font300 padding6 styleSecondColor">{{ val.Nombre }}</h6>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="white-row">
    <h3 class="page-header">
      <i class="fa fa-twitter"></i>
       <strong class="styleColor">Últimos Tweets</strong>
    </h3>
    <center><a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
  </div>
  <div class="white-row">
    <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
  </div>
  </div>
  </div>
  </div>
    <div class="col-md-3" ng-if="main.userLogged">
      <h3 class="page-header nomargin-top margin-bottom40">
         <strong class="styleColor">Más Populares</strong>
      </h3>
      <div class="row">
        <div ng-repeat="val in vm.mostPopulars">
          <!-- No #1 Hot -->
          <div class="item-box nomargin-top" ng-show="$index < 2">
            <figure>
              <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-plus fsize20"></span>
                  <strong>Ver más</strong>
                </span>
              </a>
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
            </figure>
            <div class="item-box-desc">
              <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
              <small class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
              <small class="font300 text-center block" ng-if="val.PorcentajePromo==0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
            </div>
          </div>
          <!-- /No #1 Hot -->

          <div class="col-xs-6 col-md-6" ng-show="$index >= 2">
            <a href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
              <h6 class="fsize12 font300 padding6 styleSecondColor">{{ val.Nombre }}</h6>
            </a>
          </div>
        </div>
      </div>
      <div class="row">


      <div class="white-row">

      <h3 class="page-header">
        <i class="fa fa-twitter"></i>
         <strong class="styleColor">Últimos Tweets</strong>
      </h3>
      <center><a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
    </div>
    <div class="white-row">
      <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
    </div>
      </div>
    </div>
	</div>
  <br><br>

  <div ng-include="'easy-store/views/partials/suscribe.html'"></div>
  <div ng-include="'easy-store/views/partials/reasons.html'"></div>
</div>
<br><br><br>
