<br><br><br><br>
<div class="container">
  <div ng-include="'angular/views/partials/search-form.html'"></div>
  <div class="row">
    <div class="col-md-9">
      <img src="././assets/images/1920/servicio.png" width="100%">
      <div class="white-row">

        <h3 class="tituloP">Nuestros Servicios</h3>
        <div class="lineaP">

        </div>

        <p class="section-text">En el Grupo Prevenir Express trabajamos por el bienestar de nuestros afiliados brindandoles ayuda y asesoría en los siguientes campos,</p>

        <ul class="rss">
          <li>Conocer y controlar, por medios físicos o remotos, de los mejores profesionales en sus diferentes áreas.</li>
          <li>Tramitar de una forma rápida y eficiente los reclamos sobre tramites consultas horarios de sus solicitudes.</li>
          <li>Acceder a diferentes convenios donde nuestro suscriptor tenga preferencia en servicios básicos, mediana y de alta complejidad basados en la calidad de servicio al cliente.</li>
          <li>Acceder a descuentos especiales en todos los casos y Generar mejoramiento en la economía y la calidad de vida de nuestros suscriptores.</li>
        </ul>

      </div>
      <div class="white-row">

        <h3 class="tituloP">Ayudamos a nuestros Suscriptores</h3>
        <div class="lineaP">

        </div>

        <ul class="rss">
          <li>Impulsar, promocionar y desarrollar programas en los diferentes servicios funerarios, jurídicos, contables, financieros, auditorias, recreativa, bienestar, salud, promoción y prevención, educativa, veterinaria, agencia de viajes y turismo, entre otros convenios donde nuestro suscriptor tenga preferencia en servicios basados en la calidad.</li>
          <li>Descuentos preferenciales desde el 10% hasta el 60% ajustado a las politicas de cada entidad.</li>
        </ul>

      </div>
      <div class="white-row">
        <h3 class="tituloP">Ayudamos a nuestros Anunciantes</h3>
        <div class="lineaP">

        </div>
        <ul class="rss">
          <li>Pauta personalizada y segmentada en nuestra página web.</li>
          <li>Mas de 650 clientes estables más sus beneficiarios en el departamento.</li>
          <li>Créditos por libranza.</li>
          <li>Servicio exequiales para su grupo familiar.</li>
          <li>Administración estructurada de afiliados y beneficiarios que le asegura un mayor número de clientes potenciales gracias a esta alianza estretegíca.</li>
        </ul>

      </div>
    </div>
    <div class="col-md-3">
      <h3 class="page-header nomargin-top margin-bottom40">
        <strong class="styleColor">Más Populares</strong>
      </h3>
      <div class="row">
        <div ng-repeat="val in vm.mostPopulars">
          <!-- No #1 Hot -->
          <div class="item-box nomargin-top" ng-show="$index < 2">
            <figure>
              <a class="item-hover" href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-plus fsize20"></span>
                  <strong>Ver más</strong>
                </span>
              </a>
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande}}" />
            </figure>
            <div class="item-box-desc">
              <h4 class="wrap"><a class="styleColor" href="#">{{ val.Nombre }}</a></h4>
              <small class="font300 text-center block" ng-if="val.PorcentajePromo!=0">~ Descuento {{ val.PorcentajePromo }}% ~</small>
              <small class="font300 text-center block" ng-if="val.PorcentajePromo==0">~ Precio Prevenir {{ val.PrecioDesc | currency:"$":0 }} ~</small>
            </div>
          </div>
          <!-- /No #1 Hot -->

          <div class="col-xs-6 col-md-6" ng-show="$index >= 2">
            <a href="#/publicaciones/{{val.Nombre | lowercase }}/{{ val.Id }}">
              <img alt="{{ val.Nombre }}" class="img-responsive" src="{{ val.Imagens[0].RutaGrande }}" />
              <h6 class="fsize12 font300 padding6 styleSecondColor">{{ val.Nombre }}</h6>
            </a>
          </div>

        </div>
      </div>
      <div class="row">


      <div class="white-row">
      <h3 class="page-header">
        <i class="fa fa-twitter"></i>
        <strong class="styleColor">Últimos Tweets</strong>
      </h3>
      <center><a class="twitter-timeline" data-width="300" data-height="200" data-link-color="#00aeef" href="https://twitter.com/prevenirexpress">Tweets por Prevenir Express</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center>
  </div>
  <div class="white-row">
      <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
    </div>
</div>
    </div>
  </div>
  <div ng-include="'easy-store/views/partials/suscribe.html'"></div>
  <div ng-include="'easy-store/views/partials/reasons.html'"></div>
</div>
