<br><br><br><br>
<section class="container">
  <div class="row">
    <div class="col-md-9">
      <form ng-submit="vm.GuardarPerfil()">
        <h3 class="page-header nomargin-top">
          <a href="realestate-list.html" data-toggle="tooltip" title="Ver más"><i class="fa fa-plus-square-o"></i></a>
          Perfil de <strong class="styleColor">Usuario</strong>
        </h3>
        <h3>Selecciona tu <strong><em>Avatar de usuario</em></strong></h3>
        <div class="white-row">
          <div class="row" ng-if="!vm.cambiarAvatar">
            <div class="col-md-offset-4 col-md-4">
              <div class="item-box item-box-round">
                <figure>
                  <a class="item-hover lightbox" ng-click="vm.cambiarAvatar=!vm.cambiarAvatar">
                    <span class="overlay color2"></span>
                    <span class="inner">
                      <span class="block fa fa-user fsize20"></span>
                      <strong>Cambiar</strong> Avatar
                    </span>
                  </a>
                  <img class="img-responsive" ng-src="{{ vm.user.Avatar }}" alt="Avatar de usuario" ng-if="vm.files.length==0">

                  <div class="row">
                    <div class="col-md-12">
                      <img ngf-thumbnail="vm.files[0]" class="img-responsive">
                    </div>
                  </div>

                  <!-- <div ng-repeat="file in vm.files">
                    <img ngf-thumbnail="file || '/thumb.jpg'" class="img-responsive">
                  </div> -->


                </figure>
              </div>
            </div>
          </div>
          <div class="row" ng-if="vm.cambiarAvatar">
            <div class="col-md-12">
              <div class="new-image">
                <i class="fa fa-close fa-lg" ng-click="vm.cambiarAvatar=!vm.cambiarAvatar"></i>
              </div>
                <div ngf-drop ngf-select ng-model="vm.files" class="drop-box"
                  ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                  accept="image/*"
                  ngf-pattern="'image/*'"
                >
                  <br><br><br><br><br>
                  <i class="fa fa-user fa-4x"></i><br>
                  Arrastre su avatar aqui <br> ó haga clic para seleccionarlo
                  <br><br><br><br><br>
                </div>
                <div ngf-no-file-drop>Su navegador no soporta arrastrar y soltar</div>
            </div>
          </div>
        </div>
        <h3>Completa tu <strong><em>perfil de usuario</em></strong></h3>
        <div class="white-row">
          <div class="row">

            <div class="form-group">
              <div class="col-md-12">
                <label>Correo</label>
                <input type="text" ng-model="vm.user.Correo" readonly class="form-control">
              </div>
            </div>
            <div class="form-group" ng-if="vm.user.Proveedor==false">
              <div class="col-md-12">
                <label>Nombre completo</label>
                <input type="text" ng-model="vm.user.Nombre" readonly class="form-control">
              </div>
            </div>
            <div class="form-group" ng-if="vm.user.Proveedor==true">
              <div class="col-md-12">
                <label>Nombre de la empresa</label>
                <input type="text" ng-model="vm.user.Nombre" readonly class="form-control">
              </div>
            </div>
            <div class="form-group" ng-if="vm.user.Proveedor==false">
              <div class="col-md-12">
                <label>Identificación</label>
                <input type="number" ng-model="vm.user.Identificacion" step="0" data-msg-required="Por favor ingrese su documento de identidad." class="form-control">
              </div>
            </div>
            <div class="form-group" ng-if="vm.user.Proveedor==true">
              <div class="col-md-12">
                <label>NIT</label>
                <input type="number" ng-model="vm.user.Identificacion" step="0" data-msg-required="Por favor ingrese el NIT de su empresa." class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label>Dirección</label>
                <input type="text" ng-model="vm.user.Direccion" data-msg-required="Por favor ingrese su dirección." class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label>Móvil</label>
                <input type="number" ng-model="vm.user.Telefono" data-msg-required="Por favor ingrese su número de telefóno." class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label>Whatsapp</label>
                <input type="number" ng-model="vm.user.TelefonoWhatsApp" data-msg-required="Por favor ingrese su numero de Whatsapp." class="form-control">
              </div>
            </div>
            <div class="form-group" ng-if="vm.user.Proveedor==true">
              <div class="col-md-12">
                <label>Video</label>
                <input type="text" ng-model="vm.user.UrlIntroduccion" data-msg-required="Por favor ingrese la url a su video." class="form-control">
              </div>
            </div>
             <div class="form-group" ng-if="vm.user.Proveedor==true">
              <div class="col-md-12">
                <label>Posición</label>
                <input type="text" ng-model="vm.user.Ubicacion" data-msg-required="Por favor ingrese la ubicación de Google de su negocio" class="form-control">
              </div>
            </div>
            <div class="form-group" ng-if="vm.user.Proveedor">
              <div class="col-md-12">
                <label>Pagina web</label>
                <input type="text" ng-model="vm.user.UrlPagina" data-msg-required="Por favor ingrese la url a su pagina web." class="form-control">
              </div>
            </div>
             <div class="form-group"ng-if="vm.user.Proveedor">
              <div class="col-md-12">
                <label>Nombre Empresa</label>
                <input type="text" ng-model="vm.user.NombreEmpresa" data-msg-required="Nombre de su empresa" class="form-control">
              </div>
            </div>
             <div class="form-group" ng-if="vm.user.Proveedor">
              <div class="col-md-12">
                <label>Nit</label>
                <input type="text" ng-model="vm.user.Nit" data-msg-required="Nit de su empresa" class="form-control">
              </div>
            </div>
            <div class="form-group" ng-if="vm.user.Proveedor">
              <div class="col-md-12">
                <label>Descripción</label>
                <textarea ng-model="vm.user.Descripcion" data-msg-required="Por favor ingrese una breve descripción de lo que hace." class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
            <label for="address" class ="control-label col-sm-4">País</label>
        <div class="col-sm-7">
            <select name="selectPaises" id="selectPaises" ng-options="item.Nombre for item in vm.paises track by item.Id" ng-model="vm.paisSeleccionado">
     
          </select>
              </div>
          </div>
          </div>
        </div>

        <h3>Edita tu <strong><em>avatar</em></strong></h3>
        <div class="white-row">
          <div class="row">
            <div class="col-md-12">
              <input type="submit" value="Guardar Perfil" class="btn btn-primary btn-lg" data-loading-text="Loading...">
              &nbsp;&nbsp;ó&nbsp;&nbsp;<a href="#/">Cancelar</a>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="col-md-3">
      <div ng-include="'easy-store/views/partials/nuestras-redes.html'"></div>
    </div>
  </div>
  <div ng-include="'easy-store/views/partials/suscribe.html'"></div>
  <div ng-include="'easy-store/views/partials/reasons.html'"></div>
</section>
