<!-- SOCIALS -->
<h3 class="page-header">
  <i class="fa fa-twitter"></i>
  <strong class="styleColor">Usa nuestras Redes Sociales</strong>
</h3>



<div class="white-row" style="margin: 22px;">


<center><a href="https://www.facebook.com/Prevenir-Express-1835320173378410/" class="social fa fa-facebook"></a>
<a href="https://twitter.com/prevenirexpress" class="social fa fa-twitter"></a>
<!--<a href="#" class="social fa fa-google-plus"></a>-->
<a href="https://co.linkedin.com/in/carlos-mario-ortiz-34361a133" class="social fa fa-linkedin"></a></center>
</div>

<!--<a href="#" class="social fa fa-pinterest"></a>-->
<!--<a href="#" class="social fa fa-flickr"></a>-->
