<section class="container">
		
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="featured-box noradius responsive-line-bottom">
				<i class="lightgray fa fa-map-marker hidden-xs"></i>
				<h4>Permita que más clientes lo encuentren</h4>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
				<a href="page-left-sidebar.html" class="btn btn-primary btn-xs">Más Información</a>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="featured-box noradius line-left responsive-line-bottom">
				<i class="lightgray fa fa-globe hidden-xs"></i>
				<h4>Anunciese ante miles de usuarios</h4>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
				<a href="page-pricing.html" class="btn btn-primary btn-xs">Más Información</a>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="featured-box noradius line-left">
				<i class="lightgray fa fa-road hidden-xs"></i>
				<h4>Reciba a mas clientes con la mínima inversión</h4>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
				<a href="page-right-sidebar.html" class="btn btn-primary btn-xs">Más Información</a>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<div class="featured-box noradius line-left">
				<i class="lightgray fa fa-key hidden-xs"></i>
				<h4>Prueba ya completamente gratis</h4>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
				<a href="page-full-width.html" class="btn btn-primary btn-xs">Más Información</a>
			</div>
		</div>

	</div>
		
</section>
