<!-- FILTER BOX -->
<section class="container re-filterbox no-top" ng-controller="SearchController as sc"><!-- add "styleBackground" class for colored box -->

  <form id="re-filter" name="frmSearch" novalidate ng-submit="sc.Search()">
    <h2>Buscador de servicios <br></h2>

    <div class="row">
        <div class="col-md-10 col-sm-12 col-xs-12">
          <div class="form-group">
       
        <div class="col-md-6 col-sm-12 col-xs-12">
          <select class="form-control search-control"  name="selectDeptos" id="selectDeptos" ng-options="item.Nombre for item in sc.departamentos track by item.Id" ng-model="sc.departamentoSeleccionado" ng-change="sc.LoadMunicipios()">

     
    </select>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
        <select class="form-control search-control"  name="selectMunicipios" id="selectMunicipios" ng-options="item.Nombre for item in sc.municipios track by item.Id" ng-model="sc.ciudadSeleccionada">
     
    </select>
        </div>
        
      </div>

        </div>

    </div>
    <div class="row">
    <div class="col-md-10 col-sm-12 col-xs-12">

      <div class="form-group">
      
        <div class="col-md-6 col-sm-12 col-xs-12">
          <select name="subcategoria" id="subcategoria" class="form-control search-control" ng-model="sc.IdSubCategory" ng-change="sc.LoadVarieties()" required>
            <option value selected disabled>Categoría</option>
            <option ng-repeat="val in sc.subCategorias" value="{{ val.Id }}" ng-model="sc.IdSubCategory">{{ val.Nombre }}</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <input type="text" ng-model="sc.Descripcion" placeholder="¿Qué estas buscando?" class="ng-pristine ng-untouched ng-valid ng-empty" style="width: 100%; height: 40px; border: 2px solid #e6e6e6; font-size: 18px; border-radius: 5px;">
        </div>
        
        </div>
      </div>
    </div>

      <div class="col-md-2 col-sm-12 col-xs-12">
        <button
          class="btn btn-primary fullwidth">
          <i class="fa fa-search"></i>&nbsp;Buscar
        </button>
      </div>
    </div>
  </form>


</section>
<!-- /FILTER BOX -->
