<section class="container" ng-controller="SuscribeController as sc">

  <!-- CALLOUT -->
  <div class="row bs-callout">
    <div class="col-md-8 text-center">
      <h3 class="padding20">Subscribete <strong>ahora</strong> y recibe <strong>nuestras</strong> novedades.</h3>
    </div>
    <div class="col-md-4">

      <p class="nomargin">Ingresa tu correo</p>

      <form class="input-group" novalidate name="frmSusbribe" ng-submit="sc.Suscribe()">
        <input 
          type="email" 
          class="form-control" 
          name="suscribe-email" 
          id="suscribe-email" 
          placeholder="Tu dirección de correo"
          ng-model="sc.suscribeForm.Email"
          required />
        <span class="input-group-btn">
          <button 
            type="submit"
            class="btn btn-primary"
            ng-disabled="frmSusbribe.$invalid"><i class="fa fa-search"></i></button>
        </span>
      </form>

    </div>
  </div>
  <!-- /CALLOUT -->

</section>
